html/pages/pageBlog/pageBlog.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="blog">
        <div class="width-wrap">
          <h1>Блог проекта</h1>
          <ul class="blog--list">
            <li class="one--half blog--list__el">
              <div class="blog--list__img"><img src="../../../img/img--blog.jpg" alt /></div>
              <div class="blog--list__content"><a href="" class="blog--list__content-title">Новый сотрубник Маша</a>
                <p>Уважаемые коллеги! Рады сообщить, что на контактный адрес студии пришло рекомендательное письмо от компании Quality Communications, с которой в ноябре 2014 года мы начали работы в направлении оказания услуг технической поддержки</p>
                <ul class="tags--list">
                  <li><a href="">Вакансии</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">Билборды в виде навесов, ловушекдля насекомых и домов</a>
                <p>Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,</p>
                <ul class="tags--list">
                  <li><a href="">Полезное</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">Билборды в виде навесов, ловушекдля насекомых и домов</a>
                <p>Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,</p>
                <ul class="tags--list">
                  <li><a href="">Полезное</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="float-left blog--list__el">
              <div class="blog--list__img"><img src="../../../img/img--blog-1.jpg" alt /></div>
              <div class="blog--list__content"><a href="" class="blog--list__content-title">Новый сотрубник Маша</a>
                <p>Уважаемые коллеги! Рады сообщить, что на контактный адрес студии пришло рекомендательное письмо от компании Quality Communications, с которой в ноябре 2014 года мы начали работы в направлении оказания услуг технической поддержки</p>
                <ul class="tags--list">
                  <li><a href="">Вакансии</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
            <li class="blog--list__el">
              <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                <ul class="tags--list">
                  <li><a href="">О компании</a></li>
                  <li><a href="">Акции</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="pagination">
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><span>4</span></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
          </ul>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/blog.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageBlog/pageBlog.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content
    .blog
        .width-wrap
            h1 Блог проекта
            ul.blog--list
                li.one--half.blog--list__el
                    .blog--list__img
                        img(src="../../../img/img--blog.jpg" alt /)
                    .blog--list__content
                        a(href="").blog--list__content-title Новый сотрубник Маша
                        p Уважаемые коллеги! Рады сообщить, что на контактный адрес студии пришло рекомендательное письмо от компании Quality Communications, с которой в ноябре 2014 года мы начали работы в направлении оказания услуг технической поддержки
                        ul.tags--list
                            li
                                a(href="") Вакансии

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title Билборды в виде навесов, ловушекдля насекомых и домов
                        p Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,
                        ul.tags--list
                            li
                                a(href="") Полезное

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title Билборды в виде навесов, ловушекдля насекомых и домов
                        p Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,
                        ul.tags--list
                            li
                                a(href="") Полезное

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.float-left.blog--list__el
                    .blog--list__img
                        img(src="../../../img/img--blog-1.jpg" alt /)
                    .blog--list__content
                        a(href="").blog--list__content-title Новый сотрубник Маша
                        p Уважаемые коллеги! Рады сообщить, что на контактный адрес студии пришло рекомендательное письмо от компании Quality Communications, с которой в ноябре 2014 года мы начали работы в направлении оказания услуг технической поддержки
                        ul.tags--list
                            li
                                a(href="") Вакансии

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

                li.blog--list__el
                    .blog--list__content
                        a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                        p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                        ul.tags--list
                            li
                                a(href="") О компании
                            li
                                a(href="") Акции

            ul.pagination
                li
                    a(href="") 1
                li
                    a(href="") 2
                li
                    a(href="") 3
                li
                    span 4
                li
                    a(href="") 5
                li
                    a(href="") 6



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/blog.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
