html/pages/pageBlog/pageBlog_inner.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="width-wrap">
        <ul class="breadcrumbs">
          <li class="back"><a href="">Вернуться назад</a></li>
        </ul>
        <div class="blog justifyed">
          <div class="blog__inner">
            <article>
              <h1>Лучшие модульные кухни 2015</h1>
              <time>12 сентября 2015</time>
              <p>Талантливых производителей мебели, которые способны придумать хороший дизайн и воплотить его в жизнь, в России можно пересчитать по пальцам, в то время как продажи гигантов вроде IKEA и количество магазинов мебельных сетей с каждым днём растут.</p>
              <p>Field & Rage — мебельная компания, которая занимается конструированием и производством мебели, с фабрикой в Подмосковье. Мебель делается вручную из дерева. Купить Field&Rage можно в магазине Depst в универсаме «Цветной», а также онлайн на сайте компании.</p><img src="../../../img/img--article.jpg" alt />
              <h2>Мы против Икеи</h2>
              <p>Талантливых производителей мебели, которые способны придумать хороший дизайн и воплотить его в жизнь, в России можно пересчитать по пальцам, в то время как продажи гигантов вроде IKEA и количество магазинов мебельных сетей с каждым днём растут.</p>
              <p>Field & Rage — мебельная компания, которая занимается конструированием и производством мебели, с фабрикой в Подмосковье. Мебель делается вручную из дерева. Купить Field&Rage можно в магазине Depst в универсаме «Цветной», а также онлайн на сайте компании.</p>
              <blockquote>Молодёжь не стремится идти работать на производство, никто не хочет быть столяром, маляром и даже технологом. Но проблема не только в технических специальностях, также отсутствуют и промышленные дизайнеры, способные придумать конкурентный продукт.</blockquote>
            </article>
            <div class="article--author">
              <div class="article--author__info justifyed"><img src="../../../img/img--author.jpg" alt /><span><strong>Павел Шелягин</strong>продакт-менеджер Field &amp; Rage</span></div>
              <p>«Мелкосерийное производство мебели в России находится в зачаточном состоянии. Тому есть несколько причин.</p>
              <p><strong>Во-первых, дорогостоящее производство.</strong>Аренда собственной столярной мастерской, стоимость оборудования, зарплаты сотрудникам, склад — всё это требует достаточно больших вложений.  
              </p>
              <p><strong>Во-вторых, кадры.</strong> Молодёжь не стремится идти работать на производство, никто не хочет быть  столяром, маляром и даже технологом. Но проблема не только в технических специальностях, также  отсутствуют и промышленные дизайнеры, способные придумать конкурентный продукт. Во всей  отрасли существует огромный дефицит новых людей, свежего взгляда.  
              </p>
              <p><strong>В-третьих, высокая цена на конечные товары.</strong> Поскольку сфера не самая популярная, конкуренция почти отсутствует, и те, кто в итоге сумел сделать более или менее приличный товар, продают его по неприлично высоким ценам».
              </p>
            </div>
          </div>
          <aside>
            <ul class="blog--list">
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                  <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                  <ul class="tags--list">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Акции</a></li>
                  </ul>
                </div>
              </li>
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                  <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                  <ul class="tags--list">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Акции</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </aside>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/blog_inner.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageBlog/pageBlog_inner.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content
    .width-wrap
        ul.breadcrumbs
            li.back
                a(href="") Вернуться назад

        .blog.justifyed
            .blog__inner
                article
                    h1 Лучшие модульные кухни 2015

                    time 12 сентября 2015

                    p Талантливых производителей мебели, которые способны придумать хороший дизайн и воплотить его в жизнь, в России можно пересчитать по пальцам, в то время как продажи гигантов вроде IKEA и количество магазинов мебельных сетей с каждым днём растут.

                    p Field & Rage — мебельная компания, которая занимается конструированием и производством мебели, с фабрикой в Подмосковье. Мебель делается вручную из дерева. Купить Field&Rage можно в магазине Depst в универсаме «Цветной», а также онлайн на сайте компании.

                    img(src="../../../img/img--article.jpg" alt /)

                    h2 Мы против Икеи

                    p Талантливых производителей мебели, которые способны придумать хороший дизайн и воплотить его в жизнь, в России можно пересчитать по пальцам, в то время как продажи гигантов вроде IKEA и количество магазинов мебельных сетей с каждым днём растут.

                    p Field & Rage — мебельная компания, которая занимается конструированием и производством мебели, с фабрикой в Подмосковье. Мебель делается вручную из дерева. Купить Field&Rage можно в магазине Depst в универсаме «Цветной», а также онлайн на сайте компании.

                    blockquote Молодёжь не стремится идти работать на производство, никто не хочет быть столяром, маляром и даже технологом. Но проблема не только в технических специальностях, также отсутствуют и промышленные дизайнеры, способные придумать конкурентный продукт.

                .article--author
                    .article--author__info.justifyed
                        img(src="../../../img/img--author.jpg" alt /)
                        span
                            strong Павел Шелягин
                            = "продакт-менеджер Field & Rage"

                    p «Мелкосерийное производство мебели в России находится в зачаточном состоянии. Тому есть несколько причин.

                    p
                        strong Во-первых, дорогостоящее производство.
                        = "Аренда собственной столярной мастерской, стоимость оборудования, зарплаты сотрудникам, склад — всё это требует достаточно больших вложений.  "

                    p
                        strong Во-вторых, кадры.
                        = " Молодёжь не стремится идти работать на производство, никто не хочет быть  столяром, маляром и даже технологом. Но проблема не только в технических специальностях, также  отсутствуют и промышленные дизайнеры, способные придумать конкурентный продукт. Во всей  отрасли существует огромный дефицит новых людей, свежего взгляда.  "

                    p
                        strong В-третьих, высокая цена на конечные товары.
                        = " Поскольку сфера не самая популярная, конкуренция почти отсутствует, и те, кто в итоге сумел сделать более или менее приличный товар, продают его по неприлично высоким ценам»."

            aside
                ul.blog--list
                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                            p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                            ul.tags--list
                                li
                                    a(href="") О компании
                                li
                                    a(href="") Акции

                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                            p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                            ul.tags--list
                                li
                                    a(href="") О компании
                                li
                                    a(href="") Акции

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/blog_inner.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
