html/pages/pageProject/pageProject_man_del_img.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="project">
        <div class="width-wrap">
          <ul class="breadcrumbs">
            <li><a href="">Главная</a></li>
            <li><a href="">Личный кабинет</a></li>
            <li><span>Мои сообщения</span></li>
          </ul>
          <h1>Кухня из броненосца</h1>
          <div class="project__deatil">
            <div class="about-user">
              <h2>Описание проекта</h2><span class="title">О заказчике</span>
              <ul>
                <li><img src="../../../img/img--man.jpg" alt /></li>
                <li><span><strong>Пушкин Александр</strong></span><span>3 года на сайте</span></li>
                <li><span><strong>Город</strong></span><span>Санкт-Петербург</span></li>
                <li><span><strong>Проектов</strong></span><span>5 проектов</span></li>
                <li><span><strong>Был на сайте</strong></span><span>10 минут назад</span></li>
              </ul>
            </div>
            <div class="tabs">
              <ul class="tabs__caption">
                <li class="active">Описание и тип</li>
                <li>Нижняя часть</li>
                <li>Верхняя часть</li>
                <li>Фурнитура и фасады</li>
                <li>Столешница и стеновая панель</li>
              </ul>
              <div class="tabs__content active">
                <div class="project__about">
                  <ul class="project__about-params">
                    <li><span><strong>Бюджет</strong></span><span class="roubl">40 000</span></li>
                    <li><span><strong>Город</strong></span><span>Санкт-Петербург</span></li>
                    <li><span><strong>Раздел</strong></span><span>Кухни</span></li>
                    <li><span><strong>Описание вашего проекта</strong></span><span>Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.</span></li>
                    <li class="img"><span><strong>Изображения</strong></span>
                      <ul class="project__about-images">
                        <li><a href="../../../img/img--project-1.jpg" class="fancy"><img src="../../../img/img--project-1.jpg" alt /></a></li>
                        <li><a href="../../../img/img--project-2.jpg" class="fancy"><img src="../../../img/img--project-2.jpg" alt /></a></li>
                        <li><a href="../../../img/img--project-3.jpg" class="fancy"><img src="../../../img/img--project-3.jpg" alt /></a></li>
                      </ul>
                    </li>
                  </ul>
                  <div class="kitchen-type cupboard__checker"><span class="title">Тип кухни</span>
                    <label class="radio">
                      <input type="radio" name="kitchen_type" value="type_01">
                      <div class="psevdoradio"></div><span>Прямая</span><img src="../../../img/icon--kitchen-1.png" alt />
                    </label>
                    <label class="radio">
                      <input type="radio" name="kitchen_type" value="type_02" checked>
                      <div class="psevdoradio"></div><span>Г-образная</span><img src="../../../img/icon--kitchen-2.png" alt />
                    </label>
                    <label class="radio">
                      <input type="radio" name="kitchen_type" value="type_03">
                      <div class="psevdoradio"></div><span>П-образная</span><img src="../../../img/icon--kitchen-3.png" alt />
                    </label>
                    <label class="radio">
                      <input type="radio" name="kitchen_type" value="type_04">
                      <div class="psevdoradio"></div><span>Островная</span><img src="../../../img/icon--kitchen-4.png" alt />
                    </label>
                  </div>
                </div>
              </div>
              <div class="tabs__content"></div>
              <div class="tabs__content"></div>
              <div class="tabs__content"></div>
              <div class="tabs__content"></div>
            </div>
            <h2>Прикрепленные изображения</h2>
            <ul data-url="../../../js/ajax/send-ok.php" class="project__about-images">
              <li data-img="url-img"><img src="../../../img/img--project-1.jpg" alt /><a href="" class="js--delete-img delete-img"></a></li>
              <li data-img="url-img"><img src="../../../img/img--project-2.jpg" alt /><a href="" class="js--delete-img delete-img"></a></li>
              <li data-img="url-img"><img src="../../../img/img--project-3.jpg" alt /><a href="" class="js--delete-img delete-img"></a></li>
            </ul>
            <div class="chat">
              <h2>Диалог с Александр Пушкин</h2>
              <ul class="message-list general-list">
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                  </div>
                </li>
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                  </div>
                </li>
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                  </div>
                </li>
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                  </div>
                </li>
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                  </div>
                </li>
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                    <ul class="general-list__el__content-img">
                      <li><a href="../../../img/img--croco.jpg" rel="group_1" class="fancy"><img src="../../../img/img--croco.jpg" alt /></a></li>
                      <li><a href="../../../img/img--croco.jpg" rel="group_1" class="fancy"><img src="../../../img/img--croco.jpg" alt /></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <form action="../../../js/ajax/load_history.php" method="post" class="main-form form-message">
                <input type="text" name="user" value="man_01" class="hidden-block">
                <textarea name="message" placeholder="Написать сообщение" class="inp"></textarea>
                <div class="file-wrap">
                  <ul class="project__about-images"></ul>
                  <div data-url="../../../js/ajax/load_img.php" class="add-img js--img--container add-img"><!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                    <input type="file" name="file[]" class="input-file"><a href="" class="js--img-load"></a>
                  </div>
                </div><a href="" class="btn btn_l js-form-submit">Отправить</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/project_man.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageProject/pageProject_man_del_img.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .project
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Кухня из броненосца

            .project__deatil

                .about-user
                    h2 Описание проекта

                    span.title О заказчике

                    ul
                        li
                            img(src="../../../img/img--man.jpg" alt /)

                        li
                            span
                                strong Пушкин Александр

                            span 3 года на сайте

                        li
                            span
                                strong Город

                            span Санкт-Петербург

                        li
                            span
                                strong Проектов

                            span 5 проектов

                        li
                            span
                                strong Был на сайте

                            span 10 минут назад

                .tabs
                    ul.tabs__caption
                        li.active Описание и тип
                        li Нижняя часть
                        li Верхняя часть
                        li Фурнитура и фасады
                        li Столешница и стеновая панель

                    .tabs__content.active
                        .project__about
                            ul.project__about-params
                                li
                                    span
                                        strong Бюджет

                                    span.roubl 40 000

                                li
                                    span
                                        strong Город

                                    span Санкт-Петербург

                                li
                                    span
                                        strong Раздел

                                    span Кухни

                                li
                                    span
                                        strong Описание вашего проекта

                                    span Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.

                                li.img
                                    span
                                        strong Изображения

                                    ul.project__about-images
                                        li
                                            a(href="../../../img/img--project-1.jpg").fancy
                                                img(src="../../../img/img--project-1.jpg" alt /)

                                        li
                                            a(href="../../../img/img--project-2.jpg").fancy
                                                img(src="../../../img/img--project-2.jpg" alt /)

                                        li
                                            a(href="../../../img/img--project-3.jpg").fancy
                                                img(src="../../../img/img--project-3.jpg" alt /)

                            .kitchen-type.cupboard__checker
                                span.title Тип кухни

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_01' )
                                    .psevdoradio
                                    span Прямая
                                    img(src="../../../img/icon--kitchen-1.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_02' checked)
                                    .psevdoradio
                                    span Г-образная
                                    img(src="../../../img/icon--kitchen-2.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_03' )
                                    .psevdoradio
                                    span П-образная
                                    img(src="../../../img/icon--kitchen-3.png" alt /)

                                label.radio
                                    input(type="radio" name="kitchen_type" value='type_04' )
                                    .psevdoradio
                                    span Островная
                                    img(src="../../../img/icon--kitchen-4.png" alt /)

                    .tabs__content
                    .tabs__content
                    .tabs__content
                    .tabs__content

                h2 Прикрепленные изображения

                ul(data-url="../../../js/ajax/send-ok.php" ).project__about-images
                    li(data-img="url-img")
                        img(src="../../../img/img--project-1.jpg" alt /)
                        a(href="").js--delete-img.delete-img

                    li(data-img="url-img")
                        img(src="../../../img/img--project-2.jpg" alt /)
                        a(href="").js--delete-img.delete-img

                    li(data-img="url-img")
                        img(src="../../../img/img--project-3.jpg" alt /)
                        a(href="").js--delete-img.delete-img


                .chat
                    h2 Диалог с Александр Пушкин

                    ul.message-list.general-list
                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?


                        li.general-list__el

                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                                ul.general-list__el__content-img
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)


                    form(action="../../../js/ajax/load_history.php" method="post").main-form.form-message
                        input(type="text" name="user" value="man_01").hidden-block
                        textarea(name="message" placeholder="Написать сообщение").inp

                        .file-wrap
                            ul.project__about-images
                            div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                input(type="file" name="file[]").input-file
                                a(href="").js--img-load

                        a(href="").btn.btn_l.js-form-submit Отправить

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/project_man.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
