html/pages/pageProject/pageProject_offers.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="project">
        <div class="width-wrap">
          <ul class="breadcrumbs">
            <li><a href="">Главная</a></li>
            <li><a href="">Личный кабинет</a></li>
            <li><span>Мои сообщения</span></li>
          </ul>
          <h1>Кухня из броненосца</h1>
          <div class="project__about">
            <h2>Я хочу, чтобы  кухня была такой:</h2>
            <ul class="project__about-params">
              <li><span><strong>Бюджет</strong></span><span class="roubl">40 000</span></li>
              <li><span><strong>Город</strong></span><span>Санкт-Петербург</span></li>
              <li><span><strong>Раздел</strong></span><span>Кухни</span></li>
              <li><span><strong>Описание вашего проекта</strong></span><span>Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.</span></li>
            </ul>
            <div class="project__about-links"><a href="" class="btn btn_l">Редактировать заказ</a><a href="">Отменить</a></div>
            <h2>Предложения участников</h2>
          </div>
          <form action="../../../js/ajax/load_history.php" method="post" class="project-filter">
            <div class="justifyed">
              <div class="project-filter__tabs">
                <label>
                  <input type="radio" checked name="filter_deal" value="deal_01" class="hidden-block"><span>Все исполнители</span>
                </label>
                <label>
                  <input type="radio" name="filter_deal" value="deal_02" class="hidden-block"><span>Избранные</span>
                </label>
                <label>
                  <input type="radio" name="filter_deal" value="deal_03" class="hidden-block"><span>По рейтингу</span>
                </label>
                <label>
                  <input type="radio" name="filter_deal" value="deal_04" class="hidden-block"><span>По цене</span>
                </label>
              </div>
            </div>
          </form>
          <ul class="offers-list general-list js--load-container">
            <li data-id="man_01" class="general-list__el"><a href="" data-url="../../../js/ajax/send-ok.php" class="general-list__el-favourite js--add-favourite"></a>
              <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
              <div class="general-list__el__content">
                <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Мебель экспромт</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax fancy general-list__el__content__title-link">8 Отзывов</a>
                  <ul class="stars--list-s">
                    <li class="color"></li>
                    <li class="color"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
                <time class="general-list__el__content-time">Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)</time>
                <p>У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.</p>
                <ul class="general-list__el__content-img">
                  <li><a href="../../../img/img--project-1.jpg" rel="group_1" class="fancy"><img src="../../../img/img--project-1.jpg" alt /></a></li>
                  <li><a href="../../../img/img--project-2.jpg" rel="group_1" class="fancy"><img src="../../../img/img--project-2.jpg" alt /></a></li>
                  <li><a href="../../../img/img--project-3.jpg" rel="group_1" class="fancy"><img src="../../../img/img--project-3.jpg" alt /></a></li>
                </ul>
                <div class="general-list__el__content__params"><span class="general-list__el__content__params-price roubl">40 000</span>
                  <div class="general-list__el__content__params-time"><span>Срок выполнения</span><span>1 день</span></div>
                </div>
                <div class="general-list__el__content__links"><a href="" data-url="../../../js/ajax/send-ok.php" class="btn btn_l js--make-doer">Сделать исполнителем</a><a href="" data-text-show="Показать диалог" data-text-hide="Скрыть диалог" data-url="../../../js/ajax/load_dialog.html" class="js--load-dialog">Показать диалог</a><a href="" data-text-add="Добавить в избранное" data-text-remove="Убрать из избранного" data-url="../../../js/ajax/send-ok.php" class="js--add-favourite">Добавить в избранное</a><a href="" data-url="../../../js/ajax/send-ok.php" class="js--refuse">Отказать</a><span class="doer-status"></span></div>
              </div>
            </li>
            <li data-id="man_02" class="general-list__el"><a href="" data-url="../../../js/ajax/send-ok.php" class="general-list__el-favourite js--add-favourite"></a>
              <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
              <div class="general-list__el__content">
                <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Исполнитель</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax fancy general-list__el__content__title-link">8 Отзывов</a>
                  <ul class="stars--list-s">
                    <li class="color"></li>
                    <li class="color"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
                <time class="general-list__el__content-time">Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)</time>
                <p>У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.</p>
                <ul class="general-list__el__content-img">
                  <li><a href="../../../img/img--project-1.jpg" rel="group_1" class="fancy"><img src="../../../img/img--project-1.jpg" alt /></a></li>
                  <li><a href="../../../img/img--project-2.jpg" rel="group_1" class="fancy"><img src="../../../img/img--project-2.jpg" alt /></a></li>
                  <li><a href="../../../img/img--project-3.jpg" rel="group_1" class="fancy"><img src="../../../img/img--project-3.jpg" alt /></a></li>
                </ul>
                <div class="general-list__el__content__params"><span class="general-list__el__content__params-price roubl">40 000</span>
                  <div class="general-list__el__content__params-time"><span>Срок выполнения</span><span>1 день</span></div>
                </div>
                <div class="general-list__el__content__links"><a href="" data-url="../../../js/ajax/send-ok.php" class="btn btn_l js--make-doer">Сделать исполнителем</a><a href="" data-text-show="Показать диалог" data-text-hide="Скрыть диалог" data-url="../../../js/ajax/load_dialog.html" class="js--load-dialog">Показать диалог</a><a href="" data-text-add="Добавить в избранное" data-text-remove="Убрать из избранного" data-url="../../../js/ajax/send-ok.php" class="js--add-favourite">Добавить в избранное</a><a href="" data-url="../../../js/ajax/send-ok.php" class="js--refuse">Отказать</a><span class="doer-status"></span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/project_offers.jpg",opacity: 0.5,top: 24,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageProject/pageProject_offers.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .project
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Кухня из броненосца

            .project__about
                h2 Я хочу, чтобы  кухня была такой:
                ul.project__about-params
                    li
                        span
                            strong Бюджет

                        span.roubl 40 000

                    li
                        span
                            strong Город

                        span Санкт-Петербург

                    li
                        span
                            strong Раздел

                        span Кухни

                    li
                        span
                            strong Описание вашего проекта

                        span Мне нужен шкаф купе в виде гусеницы в детский сад. По высоте около полутора метров, длинна 9 с половиной.

                .project__about-links
                    a(href="").btn.btn_l Редактировать заказ
                    a(href="") Отменить

                h2 Предложения участников

            form(action="../../../js/ajax/load_history.php" method="post").project-filter
                .justifyed
                    .project-filter__tabs
                        label
                            input(type="radio" checked name="filter_deal" value="deal_01").hidden-block
                            span Все исполнители

                        label
                            input(type="radio" name="filter_deal" value="deal_02").hidden-block
                            span Избранные

                        label
                            input(type="radio" name="filter_deal" value="deal_03").hidden-block
                            span По рейтингу

                        label
                            input(type="radio" name="filter_deal" value="deal_04").hidden-block
                            span По цене

            ul.offers-list.general-list.js--load-container
                li(data-id="man_01").general-list__el
                    a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                    .general-list__el--img.round-img
                        img(src="../../../img/img--man.jpg" alt /)

                    .general-list__el__content
                        .general-list__el__content__title
                            a(href="").general-list__el__content__title-name Мебель экспромт
                            a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").fancy.general-list__el__content__title-link 8 Отзывов
                            ul.stars--list-s
                                li.color
                                li.color
                                li
                                li
                                li


                        time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                        p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                        ul.general-list__el__content-img
                            li
                                a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-1.jpg" alt /)

                            li
                                a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-2.jpg" alt /)

                            li
                                a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-3.jpg" alt /)

                        .general-list__el__content__params
                            span.general-list__el__content__params-price.roubl 40 000
                            .general-list__el__content__params-time
                                span Срок выполнения
                                span 1 день

                        .general-list__el__content__links
                            a(href="" data-url="../../../js/ajax/send-ok.php").btn.btn_l.js--make-doer Сделать исполнителем
                            a(href="" data-text-show="Показать диалог" data-text-hide="Скрыть диалог" data-url="../../../js/ajax/load_dialog.html").js--load-dialog Показать диалог
                            a(href="" data-text-add="Добавить в избранное" data-text-remove="Убрать из избранного" data-url="../../../js/ajax/send-ok.php").js--add-favourite Добавить в избранное
                            a(href="" data-url="../../../js/ajax/send-ok.php").js--refuse Отказать
                            span.doer-status

                li(data-id="man_02").general-list__el
                    a(href="" data-url="../../../js/ajax/send-ok.php").general-list__el-favourite.js--add-favourite

                    .general-list__el--img.round-img
                        img(src="../../../img/img--man.jpg" alt /)

                    .general-list__el__content
                        .general-list__el__content__title
                            a(href="").general-list__el__content__title-name Исполнитель
                            a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").fancy.general-list__el__content__title-link 8 Отзывов
                            ul.stars--list-s
                                li.color
                                li.color
                                li
                                li
                                li


                        time.general-list__el__content-time Добавлено 23 ноября 2015 г. 13:34 (51 минуту назад)

                        p У нас есть супер предложение по поводу вашего шкафа в садик. Имеем большой опыт в создании детской мебели. Мы бы предложили купить вам готовый проект космического коробля. Это намного дешевле и намного быстрее. Мы готовы его вам сделать уже через 2 дня и поставить его вам совершенно бесплатно в вашем дет. саде.

                        ul.general-list__el__content-img
                            li
                                a(href="../../../img/img--project-1.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-1.jpg" alt /)

                            li
                                a(href="../../../img/img--project-2.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-2.jpg" alt /)

                            li
                                a(href="../../../img/img--project-3.jpg" rel="group_1").fancy
                                    img(src="../../../img/img--project-3.jpg" alt /)

                        .general-list__el__content__params
                            span.general-list__el__content__params-price.roubl 40 000
                            .general-list__el__content__params-time
                                span Срок выполнения
                                span 1 день

                        .general-list__el__content__links
                            a(href="" data-url="../../../js/ajax/send-ok.php").btn.btn_l.js--make-doer Сделать исполнителем
                            a(href="" data-text-show="Показать диалог" data-text-hide="Скрыть диалог" data-url="../../../js/ajax/load_dialog.html").js--load-dialog Показать диалог
                            a(href="" data-text-add="Добавить в избранное" data-text-remove="Убрать из избранного" data-url="../../../js/ajax/send-ok.php").js--add-favourite Добавить в избранное
                            a(href="" data-url="../../../js/ajax/send-ok.php").js--refuse Отказать
                            span.doer-status


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/project_offers.jpg",opacity: 0.5,top: 24,left: 0,center: false,clip: true,show: false});});
