html/pages/pageContact/pageContact.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="contact">
        <div class="width-wrap contact--title justifyed">
          <div>
            <h1>Контакты</h1><span>Мы всегда рады вашему звонку</span>
          </div>
          <div><a href="tel:88002000600" class="contact--title-phone">8 800 2000 600</a><a href="mailto:info@ambeli.ru" class="contact--title-mail">info@ambeli.ru</a></div>
        </div>
        <section id="map" class="map"></section>
        <div class="width-wrap contact--info">
          <div class="contact--info-left">
            <div class="contact--info__adress">
              <h2>Адрес офиса:</h2><span>Санкт-Петербург,<br> наб. канала Грибоедова, 79/23</span>
            </div>
            <div class="contact--info__service">
              <h2>Служба поддержки:</h2><a href="tel:8800900500">8 800 900 500</a><span>пн — пт с 1000 до 2000</span><span>сб — вс выходной</span>
            </div>
          </div>
          <div class="contact--info-form">
            <h2>Обратная связь:</h2>
            <form action="" method="post" class="justifyed main-form">
              <div class="main-form__half">
                <label>
                  <input type="text" name="name" placeholder="Имя" class="inp required">
                </label>
                <label>
                  <input type="text" name="phone" placeholder="Телефон" class="inp inp-phone required">
                </label>
                <label>
                  <input type="text" name="mail" placeholder="Почта" class="inp inp-mail required">
                </label><a href="" class="js-form-submit btn btn_l">Отправить</a>
              </div>
              <div class="main-form__half">
                <label>
                  <textarea name="wish" placeholder="Напишите нам о своих желаниях и предложениях" class="inp"></textarea>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/contact.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageContact/pageContact.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .contact
        .width-wrap.contact--title.justifyed
            div
                h1 Контакты
                span Мы всегда рады вашему звонку

            div
                a(href="tel:88002000600").contact--title-phone 8 800 2000 600
                a(href="mailto:info@ambeli.ru").contact--title-mail info@ambeli.ru

        section(id="map").map

        .width-wrap.contact--info
            .contact--info-left
                .contact--info__adress
                    h2 Адрес офиса:
                    span Санкт-Петербург,
                        br
                        =" наб. канала Грибоедова, 79/23"

                .contact--info__service
                    h2 Служба поддержки:
                    a(href="tel:8800900500") 8 800 900 500
                    span пн — пт с 1000 до 2000
                    span сб — вс выходной

            .contact--info-form
                h2 Обратная связь:
                form(action="" method="post").justifyed.main-form
                    .main-form__half
                        label
                            input(type="text" name="name" placeholder="Имя").inp.required
                        label
                            input(type="text" name="phone" placeholder="Телефон").inp.inp-phone.required
                        label
                            input(type="text" name="mail" placeholder="Почта").inp.inp-mail.required

                        a(href="").js-form-submit.btn.btn_l Отправить

                    .main-form__half
                        label
                            textarea(name="wish" placeholder="Напишите нам о своих желаниях и предложениях").inp

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contact.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
