html/pages/pageConstructor/pageConstruct_kitchen_s.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="constructor">
        <div class="width-wrap">
          <ul class="breadcrumbs">
            <li><a href="">Главная</a></li>
            <li><a href="">Конструктор</a></li>
            <li><span>Конструктор шкафа</span></li>
          </ul>
          <h2>Я хочу, чтобы шкаф был таким</h2>
          <div class="constructor-type"><span class="btn btn_l">Опишу кратно</span><a href="">Опишу подробно</a></div>
          <div class="tabs kitchen">
            <form action="../../../js/ajax/send-ok.php" method="post" class="constructor-form main-form">
              <div class="tabs__content active">
                <div class="labels">
                  <div class="cupboard__input_s inputs">
                    <label><span>Примерный бюджет</span>
                      <input type="text" name="price" maxlength="20" class="inp js--inp-num">
                    </label>
                    <label><span>Хочу мебель к</span>
                      <input type="text" name="date" class="js--date inp inp-calendar">
                    </label>
                  </div>
                  <div class="textarea">
                    <label><span>Описание вашего проекта</span>
                      <textarea name="description" placeholder="Хочу такую штуку..." class="inp required"></textarea><span class="comment"> Если в процессе заполнения есть сомнения - пишите сюда</span>
                    </label>
                  </div>
                </div>
                <div class="labels">
                  <div class="cupboard__input_s">
                    <label><span>Загрузите рисунок/чертеж/схему фото того, что вы хотите</span>
                      <div class="file-wrap">
                        <ul class="project__about-images"></ul>
                        <div data-url="../../../js/ajax/load_img.php" class="add-img js--img--container add-img"><!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                          <input type="file" name="file[]" class="input-file"><a href="" class="js--img-load"></a>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="kitchen-type cupboard__checker"><span class="title">Тип кухни</span>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_01">
                    <div class="psevdoradio"></div><span>Прямая</span><img src="../../../img/icon--kitchen-1.png" alt />
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02" checked>
                    <div class="psevdoradio"></div><span>Г-образная</span><img src="../../../img/icon--kitchen-2.png" alt />
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_03">
                    <div class="psevdoradio"></div><span>П-образная</span><img src="../../../img/icon--kitchen-3.png" alt />
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_04">
                    <div class="psevdoradio"></div><span>Островная</span><img src="../../../img/icon--kitchen-4.png" alt />
                  </label>
                </div>
                <div class="cupboard__checker"><span class="title">Доставка и сборка</span>
                  <label class="js--up">
                    <input type="checkbox" name="delivery" value="" class="inp-checkbox">
                    <div class="psevdocheckbox"></div><span>нужна доставка и подъем на этаж</span>
                  </label>
                  <label>
                    <input type="checkbox" name="assembly">
                    <div class="psevdocheckbox"></div><span>нужна сборка</span>
                  </label>
                </div>
                <div class="cupboard__lift cupboard__input_s">
                  <label><span class="title">Есть лифт? Какой этаж?</span>
                    <input type="text" name="floor" class="inp js--lift">
                  </label>
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js--next-step">Отправить</a><a href="">Отменить</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/kitchen_s.jpg",opacity: 0.5,top: -256,left: -172,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageConstructor/pageConstruct_kitchen_s.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .constructor
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Конструктор

                li
                    span Конструктор шкафа

            h2 Я хочу, чтобы шкаф был таким

            .constructor-type
                span.btn.btn_l Опишу кратно
                a(href="") Опишу подробно

            .tabs.kitchen
                form(action="../../../js/ajax/send-ok.php" method="post").constructor-form.main-form

                    .tabs__content.active
                        .labels
                            .cupboard__input_s.inputs
                                label
                                    span Примерный бюджет
                                    input(type="text" name="price" maxlength="20").inp.js--inp-num

                                label
                                    span Хочу мебель к
                                    input(type="text" name="date").js--date.inp.inp-calendar

                            .textarea
                                label
                                    span Описание вашего проекта
                                    textarea(name="description" placeholder="Хочу такую штуку...").inp.required
                                    span.comment  Если в процессе заполнения есть сомнения - пишите сюда


                        .labels
                            .cupboard__input_s
                                label
                                    span Загрузите рисунок/чертеж/схему фото того, что вы хотите

                                    .file-wrap
                                        ul.project__about-images
                                        div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                            input(type="file" name="file[]").input-file
                                            a(href="").js--img-load

                        .kitchen-type.cupboard__checker
                            span.title Тип кухни

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' )
                                .psevdoradio
                                span Прямая
                                img(src="../../../img/icon--kitchen-1.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' checked)
                                .psevdoradio
                                span Г-образная
                                img(src="../../../img/icon--kitchen-2.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_03' )
                                .psevdoradio
                                span П-образная
                                img(src="../../../img/icon--kitchen-3.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_04' )
                                .psevdoradio
                                span Островная
                                img(src="../../../img/icon--kitchen-4.png" alt /)

                        .cupboard__checker
                            span.title Доставка и сборка

                            label.js--up
                                input(type="checkbox" name="delivery" value="").inp-checkbox
                                .psevdocheckbox
                                span нужна доставка и подъем на этаж

                            label
                                input(type="checkbox" name="assembly")
                                .psevdocheckbox
                                span нужна сборка

                        .cupboard__lift.cupboard__input_s
                            label
                                span.title Есть лифт? Какой этаж?
                                input(type="text" name="floor").inp.js--lift

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Отправить
                            a(href="") Отменить


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/kitchen_s.jpg",opacity: 0.5,top: -256,left: -172,center: false,clip: true,show: false});});
