html/pages/pageConstructor/pageConstruct_cupboard.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="constructor">
        <div class="width-wrap">
          <ul class="breadcrumbs">
            <li><a href="">Главная</a></li>
            <li><a href="">Конструктор</a></li>
            <li><span>Конструктор шкафа</span></li>
          </ul>
          <h2>Я хочу, чтобы шкаф был таким</h2>
          <div class="tabs cupboard">
            <form action="../../../js/ajax/send-ok.php" method="post" class="constructor-form main-form">
              <ul class="tabs__caption-constructor">
                <li class="active"><span class="number"><i>1</i></span><span class="text">Описание и тип</span></li>
                <li class="disable"><span class="number"><i>2</i></span><span class="text">Размеры и полки</span></li>
              </ul>
              <div class="tabs__content active">
                <div class="labels">
                  <div class="cupboard__input_s inputs">
                    <label><span>Примерный бюджет</span>
                      <input type="text" name="price" maxlength="20" class="inp js--inp-num">
                    </label>
                    <label><span>Хочу мебель к</span>
                      <input type="text" name="date" class="js--date inp inp-calendar">
                    </label>
                  </div>
                  <div class="textarea">
                    <label><span>Описание вашего проекта</span>
                      <textarea name="description" placeholder="Хочу такую штуку..." class="inp required"></textarea>
                    </label>
                  </div>
                </div><span class="notification">Если в процессе заполнения есть сомнения — можно будет оставить комментарии в конце</span>
                <div class="labels">
                  <div class="cupboard__input_s">
                    <label><span>Загрузите рисунок/чертеж/схему фото того, что вы хотите</span>
                      <div class="file-wrap">
                        <ul class="project__about-images"></ul>
                        <div data-url="../../../js/ajax/load_img.php" class="add-img js--img--container add-img"><!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                          <input type="file" name="file[]" class="input-file"><a href="" class="js--img-load"></a>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="cupboard__doors cupboard__checker"><span class="title">Тип дверей</span>
                  <div class="cupboard__doors-type">
                    <label class="radio">
                      <input type="radio" name="doors" value="doors_01" checked>
                      <div class="psevdoradio"></div><span>двери купе</span>
                    </label>
                    <label>
                      <input type="checkbox" name="mirror" class="checkbox">
                      <div class="psevdocheckbox"></div><span>+ зеркало</span>
                    </label>
                  </div>
                  <div class="cupboard__doors-type disable">
                    <label class="radio">
                      <input type="radio" name="doors" value="doors_02">
                      <div class="psevdoradio"></div><span>распашные</span>
                    </label>
                    <label>
                      <input type="checkbox" name="mirror" class="checkbox">
                      <div class="psevdocheckbox"></div><span>+ зеркало</span>
                    </label>
                  </div>
                </div>
                <div class="cupboard__delivery cupboard__checker"><span class="title">Доставка и сборка</span>
                  <label class="js--up">
                    <input type="checkbox" name="delivery" value="" class="inp-checkbox">
                    <div class="psevdocheckbox"></div><span>нужна доставка и подъем на этаж</span>
                  </label>
                  <label>
                    <input type="checkbox" name="assembly">
                    <div class="psevdocheckbox"></div><span>нужна сборка</span>
                  </label>
                </div>
                <div class="cupboard__lift cupboard__input_s">
                  <label><span class="title">Есть лифт? Какой этаж?</span>
                    <input type="text" name="floor" class="inp js--lift">
                  </label>
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js--next-step">Далее</a><a href="">Отменить</a></div>
              </div>
              <div class="tabs__content"><img src="../../../img/img--cupboard.jpg" class="cupboard">
                <div class="cupboard__params cupboard__input_s">
                  <label><span>Длина в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Высота в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Глубина мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                </div>
                <div class="cupboard__enter cupboard__checker"><span class="title">Выберете наполнение шкафа:</span>
                  <label>
                    <input type="checkbox" name="sh">
                    <div class="psevdocheckbox"></div><span>Штанги для одежды</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Подсветка</span>
                  </label>
                </div>
                <div class="cupboard__params cupboard__input_s">
                  <label><span>Количество ящиков (общее во всем шкафу)</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Количество полок (общее во всем шкафу)</span>
                    <input type="text" name="price" class="inp">
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__color cupboard__input_l">
                  <label><span>Цвет шкафа</span>
                    <input type="text" name="color" placeholder="Опишите цвет шкафа или дайте ссылки на картинки" class="inp">
                  </label>
                  <label><span>Финальный комментарий к проекту</span>
                    <textarea name="comment" placeholder="Укажите сюда моменты, которые мы не учли, но которые важны для вас" class="inp"></textarea>
                  </label>
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js-form-submit">Отправить</a><a href="">Отменить</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/cupboard_2.jpg",opacity: 0.5,top: -130,left: -116,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageConstructor/pageConstruct_cupboard.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .constructor
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Конструктор

                li
                    span Конструктор шкафа

            h2 Я хочу, чтобы шкаф был таким

            .tabs.cupboard
                form(action="../../../js/ajax/send-ok.php" method="post").constructor-form.main-form
                    ul.tabs__caption-constructor
                        li.active
                            span.number
                                i 1
                            span.text Описание и тип

                        li.disable
                            span.number
                                i 2
                            span.text Размеры и полки

                    .tabs__content.active
                        .labels
                            .cupboard__input_s.inputs
                                label
                                    span Примерный бюджет
                                    input(type="text" name="price" maxlength="20").inp.js--inp-num

                                label
                                    span Хочу мебель к
                                    input(type="text" name="date").js--date.inp.inp-calendar

                            .textarea
                                label
                                    span Описание вашего проекта
                                    textarea(name="description" placeholder="Хочу такую штуку...").inp.required

                        span.notification Если в процессе заполнения есть сомнения — можно будет оставить комментарии в конце

                        .labels
                            .cupboard__input_s
                                label
                                    span Загрузите рисунок/чертеж/схему фото того, что вы хотите

                                    .file-wrap
                                        ul.project__about-images
                                        div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                            input(type="file" name="file[]").input-file
                                            a(href="").js--img-load

                        .cupboard__doors.cupboard__checker
                            span.title Тип дверей

                            .cupboard__doors-type
                                label.radio
                                    input(type="radio" name="doors" value='doors_01' checked)
                                    .psevdoradio
                                    span двери купе

                                label
                                    input(type="checkbox" name="mirror").checkbox
                                    .psevdocheckbox
                                    span + зеркало

                            .cupboard__doors-type.disable
                                label.radio
                                    input(type="radio" name="doors" value='doors_02')
                                    .psevdoradio
                                    span распашные

                                label
                                    input(type="checkbox" name="mirror").checkbox
                                    .psevdocheckbox
                                    span + зеркало

                        .cupboard__delivery.cupboard__checker
                            span.title Доставка и сборка

                            label.js--up
                                input(type="checkbox" name="delivery" value="").inp-checkbox
                                .psevdocheckbox
                                span нужна доставка и подъем на этаж

                            label
                                input(type="checkbox" name="assembly")
                                .psevdocheckbox
                                span нужна сборка

                        .cupboard__lift.cupboard__input_s
                            label
                                span.title Есть лифт? Какой этаж?
                                input(type="text" name="floor").inp.js--lift

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content
                        img(src='../../../img/img--cupboard.jpg').cupboard

                        .cupboard__params.cupboard__input_s
                            label
                                span Длина в мм
                                input(type="text" name="price").inp

                            label
                                span Высота в мм
                                input(type="text" name="price").inp

                            label
                                span Глубина мм
                                input(type="text" name="price").inp

                        .cupboard__enter.cupboard__checker
                            span.title Выберете наполнение шкафа:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Штанги для одежды

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Подсветка

                        .cupboard__params.cupboard__input_s
                            label
                                span Количество ящиков (общее во всем шкафу)
                                input(type="text" name="price").inp

                            label
                                span Количество полок (общее во всем шкафу)
                                input(type="text" name="price").inp

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__color.cupboard__input_l
                            label
                                span Цвет шкафа
                                input(type="text" name="color" placeholder="Опишите цвет шкафа или дайте ссылки на картинки").inp

                            label
                                span Финальный комментарий к проекту
                                textarea(name="comment" placeholder="Укажите сюда моменты, которые мы не учли, но которые важны для вас").inp

                        .cupboard__links
                            a(href="").btn.btn_l.js-form-submit Отправить
                            a(href="") Отменить


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cupboard_2.jpg",opacity: 0.5,top: -130,left: -116,center: false,clip: true,show: false});});
