html/pages/pageConstructor/pageConstruct_kitchen.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="constructor">
        <div class="width-wrap">
          <ul class="breadcrumbs">
            <li><a href="">Главная</a></li>
            <li><a href="">Конструктор</a></li>
            <li><span>Конструктор шкафа</span></li>
          </ul>
          <h2>Я хочу, чтобы шкаф был таким</h2>
          <div class="tabs kitchen">
            <form action="../../../js/ajax/send-ok.php" method="post" class="constructor-form main-form">
              <ul class="tabs__caption-constructor">
                <li class="active"><span class="number"><i>1</i></span><span class="text">Описание и тип</span></li>
                <li class="disable"><span class="number"><i>2</i></span><span class="text">Нижняя часть</span></li>
                <li class="disable"><span class="number"><i>3</i></span><span class="text">Верхняя часть</span></li>
                <li class="disable"><span class="number"><i>4</i></span><span class="text">Фурнитура и фасады</span></li>
                <li class="disable"><span class="number"><i>5</i></span><span class="text">Столешница и стеновая панель</span></li>
              </ul>
              <div class="tabs__content active">
                <div class="labels">
                  <div class="cupboard__input_s inputs">
                    <label><span>Примерный бюджет</span>
                      <input type="text" name="price" maxlength="20" class="inp js--inp-num">
                    </label>
                    <label><span>Хочу мебель к</span>
                      <input type="text" name="date" class="js--date inp inp-calendar">
                    </label>
                  </div>
                  <div class="textarea">
                    <label><span>Описание вашего проекта</span>
                      <textarea name="description" placeholder="Хочу такую штуку..." class="inp required"></textarea>
                    </label>
                  </div>
                </div><span class="notification">Если в процессе заполнения есть сомнения — можно будет оставить комментарии в конце</span>
                <div class="labels">
                  <div class="cupboard__input_s">
                    <label><span>Загрузите рисунок/чертеж/схему фото того, что вы хотите</span>
                      <div class="file-wrap">
                        <ul data-url="../../../js/ajax/send-ok.php" class="project__about-images">
                          <li data-img="url-img"><img src="../../../img/img--project-1.jpg" alt /><a href="" class="js--delete-img delete-img"></a></li>
                          <li data-img="url-img"><img src="../../../img/img--project-2.jpg" alt /><a href="" class="js--delete-img delete-img"></a></li>
                          <li data-img="url-img"><img src="../../../img/img--project-3.jpg" alt /><a href="" class="js--delete-img delete-img"></a></li>
                        </ul>
                        <div data-url="../../../js/ajax/load_img.php" class="add-img js--img--container add-img"><!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                          <input type="file" name="file[]" class="input-file"><a href="" class="js--img-load"></a>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="kitchen-type cupboard__checker"><span class="title">Тип кухни</span>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_01">
                    <div class="psevdoradio"></div><span>Прямая</span><img src="../../../img/icon--kitchen-1.png" alt />
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02" checked>
                    <div class="psevdoradio"></div><span>Г-образная</span><img src="../../../img/icon--kitchen-2.png" alt />
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_03">
                    <div class="psevdoradio"></div><span>П-образная</span><img src="../../../img/icon--kitchen-3.png" alt />
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_04">
                    <div class="psevdoradio"></div><span>Островная</span><img src="../../../img/icon--kitchen-4.png" alt />
                  </label>
                </div>
                <div class="cupboard__delivery cupboard__checker"><span class="title">Доставка и сборка</span>
                  <label class="js--up">
                    <input type="checkbox" name="delivery" value="" class="inp-checkbox">
                    <div class="psevdocheckbox"></div><span>нужна доставка и подъем на этаж</span>
                  </label>
                  <label>
                    <input type="checkbox" name="assembly">
                    <div class="psevdocheckbox"></div><span>нужна сборка</span>
                  </label>
                </div>
                <div class="cupboard__lift cupboard__input_s">
                  <label><span class="title">Есть лифт? Какой этаж?</span>
                    <input type="text" name="floor" class="inp js--lift">
                  </label>
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js--next-step">Далее</a><a href="">Отменить</a></div>
              </div>
              <div class="tabs__content"><span class="kitchen-title">Нижняя часть</span><img src="../../../img/img--kitchen-bottom.jpg" class="kitchen--img-l"><img src="../../../img/img--kitchen-scheme-.jpg" class="kitchen--img-s">
                <div class="cupboard__params cupboard__input_s">
                  <label><span>Длина в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Высота в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Глубина мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                </div>
                <div class="cupboard__enter cupboard__checker"><span class="title">Из встраиваемой техники будет:</span>
                  <label>
                    <input type="checkbox" name="sh">
                    <div class="psevdocheckbox"></div><span>Стиральная машина</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Посудомоечная машина</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Холодильник</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Варочная плита</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Духовка</span>
                  </label>
                </div>
                <div class="cupboard__params cupboard__input_s">
                  <label><span>Общее количество полок</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Ообщее количество ящиков</span>
                    <input type="text" name="price" class="inp">
                  </label>
                </div>
                <div class="cupboard__color cupboard__input_l">
                  <label><span>Цвет шкафа</span>
                    <input type="text" name="color" placeholder="Опишите цвет шкафа или дайте ссылки на картинки" class="inp">
                  </label>
                </div>
                <ul class="project__about-images"></ul>
                <div data-url="../../../js/ajax/load_img.php" class="js--img--container add-img"><!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                  <input type="file" name="file[]" class="input-file"><a href="" class="js--img-load"></a>
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js--next-step">Далее</a><a href="">Отменить</a></div>
              </div>
              <div class="tabs__content"><span class="kitchen-title">Верхняя часть</span><img src="../../../img/img--kitchen-top.jpg" class="kitchen--img-l"><img src="../../../img/img--kitchen-scheme-.jpg" class="kitchen--img-s">
                <div class="cupboard__enter cupboard__checker"><span class="title">Из встраиваемой техники будет:</span>
                  <label>
                    <input type="checkbox" name="sh">
                    <div class="psevdocheckbox"></div><span>Не нужна</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Открытые полки</span>
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__params cupboard__input_s">
                  <label><span>Длина1 в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Высота в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Длина2 в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                  <label><span>Глубина в мм</span>
                    <input type="text" name="price" class="inp">
                  </label>
                </div>
                <div class="cupboard__enter cupboard__checker"><span class="title">Из техники будет:</span>
                  <label>
                    <input type="checkbox" name="sh">
                    <div class="psevdocheckbox"></div><span>Вытяжка</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Микроволновая печь</span>
                  </label>
                </div>
                <div class="cupboard__enter cupboard__checker"><span class="title">Двери</span>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_01" checked>
                    <div class="psevdoradio"></div><span>Распашные</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02">
                    <div class="psevdoradio"></div><span>Подъемные</span>
                  </label>
                </div>
                <div class="cupboard__params cupboard__input_s">
                  <label><span>Общее количество полок</span>
                    <input type="text" name="price" class="inp">
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js--next-step">Далее</a><a href="">Отменить</a></div>
              </div>
              <div class="tabs__content">
                <div class="cupboard__enter cupboard__checker"><span class="title">Фурнитура</span>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_01" checked>
                    <div class="psevdoradio"></div><span>Эконом (без доводчиков  дверей и ящиков)</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02">
                    <div class="psevdoradio"></div><span>Стандарт (с доводчиками дверей и ящиков)</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02">
                    <div class="psevdoradio"></div><span>Премиум (доводчики дверей и ящиков премиум качества, открытие дверей и ящиков нажатием)</span>
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__enter cupboard__checker"><span class="title">Материал фасада</span>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_01" checked>
                    <div class="psevdoradio"></div><span>ДСП (дешево и сердито)</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02">
                    <div class="psevdoradio"></div><span>МДФ (материал качественне, чем ДСП)</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02">
                    <div class="psevdoradio"></div><span>Натуральное дерево</span>
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js--next-step">Далее</a><a href="">Отменить</a></div>
              </div>
              <div class="tabs__content"><img src="../../../img/img--kitchen-center.jpg" class="kitchen--img-l"><img src="../../../img/img--kitchen-scheme-.jpg" class="kitchen--img-s">
                <div class="cupboard__enter cupboard__checker"><span class="title">Столешница</span>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_01" checked>
                    <div class="psevdoradio"></div><span>ДСП влагостойкий</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="kitchen_type" value="type_02">
                    <div class="psevdoradio"></div><span>Искусственный камень</span>
                  </label>
                </div>
                <div class="cupboard__enter cupboard__input_l"><span class="title">Цвет столешницы</span>
                  <label>
                    <input type="text" name="color" placeholder="Опишите цвет или дайте ссылки на картинки со шкафами" class="inp">
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__enter cupboard__checker"><span class="title">Стеновая панель</span>
                  <label>
                    <input type="checkbox" name="sh">
                    <div class="psevdocheckbox"></div><span>Нужна панель</span>
                  </label>
                  <label>
                    <input type="checkbox" name="light">
                    <div class="psevdocheckbox"></div><span>Нужна подсветка</span>
                  </label>
                </div>
                <div class="constructor__images empty">
                  <input type="file" name="" class="js--file-styled">
                </div>
                <div class="cupboard__color cupboard__input_l">
                  <label><span>Финальный комментарий к проекту</span>
                    <textarea name="comment" placeholder="Укажите сюда моменты, которые мы не учли, но которые важны для вас" class="inp"></textarea>
                  </label>
                </div>
                <div class="cupboard__links"><a href="" class="btn btn_l js-form-submit">Отправить</a><a href="">Отменить</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/kitchen_2.jpg",opacity: 0.5,top: -252,left: -170,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageConstructor/pageConstruct_kitchen.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .constructor
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Конструктор

                li
                    span Конструктор шкафа

            h2 Я хочу, чтобы шкаф был таким

            .tabs.kitchen
                form(action="../../../js/ajax/send-ok.php" method="post").constructor-form.main-form

                    ul.tabs__caption-constructor
                        li.active
                            span.number
                                i 1
                            span.text Описание и тип

                        li.disable
                            span.number
                                i 2
                            span.text Нижняя часть

                        li.disable
                            span.number
                                i 3
                            span.text Верхняя часть

                        li.disable
                            span.number
                                i 4
                            span.text Фурнитура и фасады

                        li.disable
                            span.number
                                i 5
                            span.text Столешница и стеновая панель

                    .tabs__content.active
                        .labels
                            .cupboard__input_s.inputs
                                label
                                    span Примерный бюджет
                                    input(type="text" name="price" maxlength="20").inp.js--inp-num

                                label
                                    span Хочу мебель к
                                    input(type="text" name="date").js--date.inp.inp-calendar

                            .textarea
                                label
                                    span Описание вашего проекта
                                    textarea(name="description" placeholder="Хочу такую штуку...").inp.required

                        span.notification Если в процессе заполнения есть сомнения — можно будет оставить комментарии в конце

                        .labels
                            .cupboard__input_s
                                label
                                    span Загрузите рисунок/чертеж/схему фото того, что вы хотите

                                    .file-wrap
                                        ul(data-url="../../../js/ajax/send-ok.php" ).project__about-images
                                            li(data-img="url-img")
                                                img(src="../../../img/img--project-1.jpg" alt /)
                                                a(href="").js--delete-img.delete-img

                                            li(data-img="url-img")
                                                img(src="../../../img/img--project-2.jpg" alt /)
                                                a(href="").js--delete-img.delete-img

                                            li(data-img="url-img")
                                                img(src="../../../img/img--project-3.jpg" alt /)
                                                a(href="").js--delete-img.delete-img


                                        div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                            input(type="file" name="file[]").input-file
                                            a(href="").js--img-load

                        .kitchen-type.cupboard__checker
                            span.title Тип кухни

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' )
                                .psevdoradio
                                span Прямая
                                img(src="../../../img/icon--kitchen-1.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' checked)
                                .psevdoradio
                                span Г-образная
                                img(src="../../../img/icon--kitchen-2.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_03' )
                                .psevdoradio
                                span П-образная
                                img(src="../../../img/icon--kitchen-3.png" alt /)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_04' )
                                .psevdoradio
                                span Островная
                                img(src="../../../img/icon--kitchen-4.png" alt /)

                        .cupboard__delivery.cupboard__checker
                            span.title Доставка и сборка

                            label.js--up
                                input(type="checkbox" name="delivery" value="").inp-checkbox
                                .psevdocheckbox
                                span нужна доставка и подъем на этаж

                            label
                                input(type="checkbox" name="assembly")
                                .psevdocheckbox
                                span нужна сборка

                        .cupboard__lift.cupboard__input_s
                            label
                                span.title Есть лифт? Какой этаж?
                                input(type="text" name="floor").inp.js--lift

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content
                        span.kitchen-title Нижняя часть

                        img(src='../../../img/img--kitchen-bottom.jpg').kitchen--img-l
                        img(src='../../../img/img--kitchen-scheme-.jpg').kitchen--img-s

                        .cupboard__params.cupboard__input_s
                            label
                                span Длина в мм
                                input(type="text" name="price").inp

                            label
                                span Высота в мм
                                input(type="text" name="price").inp

                            label
                                span Глубина мм
                                input(type="text" name="price").inp

                        .cupboard__enter.cupboard__checker
                            span.title Из встраиваемой техники будет:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Стиральная машина

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Посудомоечная машина

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Холодильник

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Варочная плита

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Духовка

                        .cupboard__params.cupboard__input_s
                            label
                                span Общее количество полок
                                input(type="text" name="price").inp

                            label
                                span Ообщее количество ящиков
                                input(type="text" name="price").inp

                        .cupboard__color.cupboard__input_l
                            label
                                span Цвет шкафа
                                input(type="text" name="color" placeholder="Опишите цвет шкафа или дайте ссылки на картинки").inp

                        ul.project__about-images

                        div(data-url="../../../js/ajax/load_img.php").js--img--container.add-img
                            <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                            input(type="file" name="file[]").input-file
                            a(href="").js--img-load

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content
                        span.kitchen-title Верхняя часть

                        img(src='../../../img/img--kitchen-top.jpg').kitchen--img-l
                        img(src='../../../img/img--kitchen-scheme-.jpg').kitchen--img-s

                        .cupboard__enter.cupboard__checker
                            span.title Из встраиваемой техники будет:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Не нужна

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Открытые полки

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__params.cupboard__input_s
                            label
                                span Длина1 в мм
                                input(type="text" name="price").inp

                            label
                                span Высота в мм
                                input(type="text" name="price").inp

                            label
                                span Длина2 в мм
                                input(type="text" name="price").inp

                            label
                                span Глубина в мм
                                input(type="text" name="price").inp

                        .cupboard__enter.cupboard__checker
                            span.title Из техники будет:

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Вытяжка

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Микроволновая печь

                        .cupboard__enter.cupboard__checker
                            span.title Двери

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span Распашные

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Подъемные

                        .cupboard__params.cupboard__input_s
                            label
                                span Общее количество полок
                                input(type="text" name="price").inp

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content

                        .cupboard__enter.cupboard__checker
                            span.title Фурнитура

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span Эконом (без доводчиков  дверей и ящиков)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Стандарт (с доводчиками дверей и ящиков)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Премиум (доводчики дверей и ящиков премиум качества, открытие дверей и ящиков нажатием)

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__enter.cupboard__checker
                            span.title Материал фасада

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span ДСП (дешево и сердито)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span МДФ (материал качественне, чем ДСП)

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Натуральное дерево

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__links
                            a(href="").btn.btn_l.js--next-step Далее
                            a(href="") Отменить

                    .tabs__content

                        img(src='../../../img/img--kitchen-center.jpg').kitchen--img-l
                        img(src='../../../img/img--kitchen-scheme-.jpg').kitchen--img-s

                        .cupboard__enter.cupboard__checker
                            span.title Столешница

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_01' checked)
                                .psevdoradio
                                span ДСП влагостойкий

                            label.radio
                                input(type="radio" name="kitchen_type" value='type_02' )
                                .psevdoradio
                                span Искусственный камень

                        .cupboard__enter.cupboard__input_l
                            span.title Цвет столешницы

                            label
                                input(type="text" name="color" placeholder="Опишите цвет или дайте ссылки на картинки со шкафами").inp

                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__enter.cupboard__checker
                            span.title Стеновая панель

                            label
                                input(type="checkbox" name="sh")
                                .psevdocheckbox
                                span Нужна панель

                            label
                                input(type="checkbox" name="light")
                                .psevdocheckbox
                                span Нужна подсветка


                        .constructor__images.empty
                            input(type="file" name="").js--file-styled

                        .cupboard__color.cupboard__input_l
                            label
                                span Финальный комментарий к проекту
                                textarea(name="comment" placeholder="Укажите сюда моменты, которые мы не учли, но которые важны для вас").inp

                        .cupboard__links
                            a(href="").btn.btn_l.js-form-submit Отправить
                            a(href="") Отменить


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/kitchen_2.jpg",opacity: 0.5,top: -252,left: -170,center: false,clip: true,show: false});});
