html/pages/pageAbout/pageAbout.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <div class="about">
        <section class="about--promo">
          <nav>
            <div class="justifyed width-wrap"><a href="" class="nav--logo"><img src="../../../img/svg/logo-white.svg" alt /></a>
              <ul class="main--nav">
                <li><span>О проекте</span></li>
                <li><a href="">Вопросы и ответы</a></li>
                <li><a href="">Для производителей</a></li>
                <li><a href="">Контакты</a></li>
              </ul>
            </div>
          </nav>
          <div class="about--promo-content">
            <div class="width-wrap"><a href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" class="fancybox.iframe fancy justifyed"><img src="../../../img/icon--video.png" alt /><span>Как купить корпусную<br>мебель на 30 % дешевле<br><i>Смотри на видео</i></span></a></div>
          </div>
        </section>
        <section class="about--request">
          <div class="width-wrap">
            <div class="justifyed">
              <div class="about--request__left">
                <h2>Заказать мебель вашей мечты по лучшей цене. Это просто и бесплатно!</h2>
                <p>Мы&nbsp;сэкономим вам время и&nbsp;легко найдем сотни луших предложений по&nbsp;созданию корпусной мебели. Быстро и без переплаты за&nbsp;посредников.</p>
                <ul class="about--request-list">
                  <li><img src="../../../img/icon--request-1.png" alt />
                    <p>Мы&nbsp;делаем космическое предложение,как клиенту, так и&nbsp;исполнителю</p>
                  </li>
                  <li><img src="../../../img/icon--request-2.png" alt />
                    <p>Вам ничего не&nbsp;нужно делать. Зарегистрировались и&nbsp;получайте заказы. Сервис все сделает для вас.</p>
                  </li>
                  <li><img src="../../../img/icon--request-3.png" alt />
                    <p>Наша техподдержка не&nbsp;дремлет. И&nbsp;всегда придет на&nbsp;помощь. Кстати, нам нужны супермены:<a href="mailto:hh@ambeli.ru">hh@ambeli.ru</a></p>
                  </li>
                </ul>
              </div>
              <div class="about--request__right">
                <div class="about--reqquest-block"><span>Супер производителям</span>
                  <p>Зарегистрируйтесь сегодня и начните получать заказы уже завтра</p><a href="" class="btn btn_l">Получить заказы</a>
                </div>
                <div class="about--reqquest-block"><span>Супер покупателям</span>
                  <p>Зарегистрируйтесь сегодня и начните экономить на мебели уже завтра</p><a href="" class="btn btn_l">Получить лучшую цену</a>
                </div>
              </div>
            </div>
            <div class="about--comand">
              <h2>Команда проекта</h2>
              <ul class="about--comand-list">
                <li><img src="../../../img/" alt /><span>Пушкин Александр</span>
                  <p>Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.</p>
                </li>
                <li><img src="../../../img/" alt /><span>Пушкин Александр</span>
                  <p>Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.</p>
                </li>
                <li><img src="../../../img/" alt /><span>Пушкин Александр</span>
                  <p>Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.</p>
                </li>
                <li><img src="../../../img/" alt /><span>Пушкин Александр</span>
                  <p>Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.</p>
                </li>
                <li><img src="../../../img/" alt /><span>Пушкин Александр</span>
                  <p>Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.</p>
                </li>
              </ul>
              <h2>Наш офис</h2>
            </div>
          </div>
          <div id="map" class="map"></div>
          <div class="about--contacts">
            <div class="width-wrap"><a href="tel:88002000600" class="about--contacts-tel">8 800 2000 600</a><br><a href="mailto:info@ambeli.ru  " class="about--contacts-mail">info@ambeli.ru</a><br><a href="" class="btn btn_l">Контакты</a></div>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/about.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageAbout/pageAbout.jade
block vars
    - var title='Title'

extends ../../partials/layout-index

block content
    .about
        section.about--promo
            nav
                .justifyed.width-wrap
                    a(href="").nav--logo
                        img(src="../../../img/svg/logo-white.svg" alt /)

                    ul.main--nav
                        li
                            span О проекте
                        li
                            a(href="") Вопросы и ответы
                        li
                            a(href="") Для производителей
                        li
                            a(href="") Контакты

            .about--promo-content
                .width-wrap
                    a(href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" class="fancybox.iframe").fancy.justifyed
                        img(src="../../../img/icon--video.png" alt /)
                        span Как купить корпусную
                            br
                            ="мебель на 30 % дешевле"
                            br
                            i Смотри на видео


        section.about--request
            .width-wrap
                .justifyed
                    .about--request__left
                        h2 Заказать мебель вашей мечты по лучшей цене. Это просто и бесплатно!
                        p Мы&nbsp;сэкономим вам время и&nbsp;легко найдем сотни луших предложений по&nbsp;созданию корпусной мебели. Быстро и без переплаты за&nbsp;посредников.
                        ul.about--request-list
                            li
                                img(src="../../../img/icon--request-1.png" alt /)
                                p Мы&nbsp;делаем космическое предложение,как клиенту, так и&nbsp;исполнителю

                            li
                                img(src="../../../img/icon--request-2.png" alt /)
                                p Вам ничего не&nbsp;нужно делать. Зарегистрировались и&nbsp;получайте заказы. Сервис все сделает для вас.

                            li
                                img(src="../../../img/icon--request-3.png" alt /)
                                p Наша техподдержка не&nbsp;дремлет. И&nbsp;всегда придет на&nbsp;помощь. Кстати, нам нужны супермены:
                                    a(href="mailto:hh@ambeli.ru") hh@ambeli.ru

                    .about--request__right
                        .about--reqquest-block
                            span Супер производителям
                            p Зарегистрируйтесь сегодня и начните получать заказы уже завтра
                            a(href="").btn.btn_l Получить заказы

                        .about--reqquest-block
                            span Супер покупателям
                            p Зарегистрируйтесь сегодня и начните экономить на мебели уже завтра
                            a(href="").btn.btn_l Получить лучшую цену

                .about--comand
                    h2 Команда проекта
                    ul.about--comand-list
                        li
                            img(src='../../../img/' alt /)
                            span Пушкин Александр
                            p Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.

                        li
                            img(src='../../../img/' alt /)
                            span Пушкин Александр
                            p Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.

                        li
                            img(src='../../../img/' alt /)
                            span Пушкин Александр
                            p Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.

                        li
                            img(src='../../../img/' alt /)
                            span Пушкин Александр
                            p Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.

                        li
                            img(src='../../../img/' alt /)
                            span Пушкин Александр
                            p Что-то нужно написать. О&nbsp;том, что космические корабли бороздят космические просторы.

                    h2 Наш офис

            div(id="map").map

            .about--contacts
                .width-wrap
                    a(href="tel:88002000600").about--contacts-tel 8 800 2000 600
                    br
                    a(href="mailto:info@ambeli.ru  ").about--contacts-mail info@ambeli.ru
                    br
                    a(href="").btn.btn_l Контакты



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/about.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
