source/jade/html/pages/pagePopup/popup-ent.jade
.popup--blue
    h2 Войти
    form(action="../../../js/ajax/send-ok.php" method="post").main-form
        label
            input(type="text" name="sms" placeholder="Адрес почты").inp.inp-mail.required
        label
            input(type="password" name="sms" placeholder="Пароль").inp.required
            a(href="../pagePopup/popup-fgv.html" class="fancybox.ajax").fancy.forgive-pass Забыли пароль
        label.checkbox.js--need-check
            input(type="checkbox" checked name="licence").hidden-block
            i.psevdochecbox
            span Запомнить меня

        a(href="").js-form-submit.btn.btn_l Зарегистрироваться

        .hidden-block
            a(href="#").js--form-ok

.popup--note
    p Если вы еще не зарегистрированы, кликните
        a(href="../pagePopup/popup-reg.html" class="fancybox.ajax").fancy сюда.


script(type="text/javascript" ) $(function () {$('.inp-phone').mask('+7(999)999-99-99');});
script(type="text/javascript" ) $(function () {$('.fancy').fancybox()});

html/pages/pagePopup/popup-ent.html

<div class="popup--blue">
  <h2>Войти</h2>
  <form action="../../../js/ajax/send-ok.php" method="post" class="main-form">
    <label>
      <input type="text" name="sms" placeholder="Адрес почты" class="inp inp-mail required"/>
    </label>
    <label>
      <input type="password" name="sms" placeholder="Пароль" class="inp required"/><a href="../pagePopup/popup-fgv.html" class="fancybox.ajax fancy forgive-pass">Забыли пароль</a>
    </label>
    <label class="checkbox js--need-check">
      <input type="checkbox" checked="checked" name="licence" class="hidden-block"/><i class="psevdochecbox"></i><span>Запомнить меня</span>
    </label><a href="" class="js-form-submit btn btn_l">Зарегистрироваться</a>
    <div class="hidden-block"><a href="#" class="js--form-ok"></a></div>
  </form>
</div>
<div class="popup--note">
  <p>Если вы еще не зарегистрированы, кликните<a href="../pagePopup/popup-reg.html" class="fancybox.ajax fancy">сюда.</a></p>
</div>
<script type="text/javascript">$(function () {$('.inp-phone').mask('+7(999)999-99-99');});</script>
<script type="text/javascript">$(function () {$('.fancy').fancybox()});</script>
