html/pages/pagePopup/popup-filter.html

<div class="project-filter__category-hidden project-filter__category"><span class="title">Категория</span>
  <form action="../../../js/ajax/load_history.php" method="post" class="project-filter">
    <label>
      <input type="checkbox" name="filter_category" value="cat_01"/>
      <div class="psevdochecbox"></div><span>Кухни</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_02"/>
      <div class="psevdochecbox"></div><span>Шкафы</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_03"/>
      <div class="psevdochecbox"></div><span>Шкафы-купе</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_04"/>
      <div class="psevdochecbox"></div><span>Кровати</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_05"/>
      <div class="psevdochecbox"></div><span>Гардеробные и стеллажи</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_06"/>
      <div class="psevdochecbox"></div><span>Стеллажи</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_01"/>
      <div class="psevdochecbox"></div><span>Кухни</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_02"/>
      <div class="psevdochecbox"></div><span>Шкафы</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_03"/>
      <div class="psevdochecbox"></div><span>Шкафы-купе</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_04"/>
      <div class="psevdochecbox"></div><span>Кровати</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_05"/>
      <div class="psevdochecbox"></div><span>Гардеробные и стеллажи</span>
    </label>
    <label>
      <input type="checkbox" name="filter_category" value="cat_06"/>
      <div class="psevdochecbox"></div><span>Стеллажи</span>
    </label>
  </form>
</div>

source/jade/html/pages/pagePopup/popup-filter.jade
.project-filter__category-hidden.project-filter__category
    span.title Категория

    form(action="../../../js/ajax/load_history.php" method="post").project-filter

        label
            input(type="checkbox" name="filter_category" value="cat_01")
            .psevdochecbox
            span Кухни

        label
            input(type="checkbox" name="filter_category" value="cat_02")
            .psevdochecbox
            span Шкафы

        label
            input(type="checkbox" name="filter_category" value="cat_03")
            .psevdochecbox
            span Шкафы-купе

        label
            input(type="checkbox" name="filter_category" value="cat_04")
            .psevdochecbox
            span Кровати

        label
            input(type="checkbox" name="filter_category" value="cat_05")
            .psevdochecbox
            span Гардеробные и стеллажи

        label
            input(type="checkbox" name="filter_category" value="cat_06")
            .psevdochecbox
            span Стеллажи

        label
            input(type="checkbox" name="filter_category" value="cat_01")
            .psevdochecbox
            span Кухни

        label
            input(type="checkbox" name="filter_category" value="cat_02")
            .psevdochecbox
            span Шкафы

        label
            input(type="checkbox" name="filter_category" value="cat_03")
            .psevdochecbox
            span Шкафы-купе

        label
            input(type="checkbox" name="filter_category" value="cat_04")
            .psevdochecbox
            span Кровати

        label
            input(type="checkbox" name="filter_category" value="cat_05")
            .psevdochecbox
            span Гардеробные и стеллажи

        label
            input(type="checkbox" name="filter_category" value="cat_06")
            .psevdochecbox
            span Стеллажи
