source/jade/html/pages/pagePopup/popup-town.jade
.popup--white
    h2 Выбор города

    span.current Ваш город доставки - Смоленск?
        a(href="") Да

    span Если нет - выберите из списка

    ul.towns
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город
        li
            a(href="") Другой город

    a(href="" data-hidden="Показать все города" data-show="Скрыть").js--change-list.change-list Показать все города

script(type="text/javascript" ) $(function(){$('.inp-phone').mask('+7(999)999-99-99');});
script(type="text/javascript" ) $(function () {$('.fancy').fancybox()});

html/pages/pagePopup/popup-town.html

<div class="popup--white">
  <h2>Выбор города</h2><span class="current">Ваш город доставки - Смоленск?<a href="">Да</a></span><span>Если нет - выберите из списка</span>
  <ul class="towns">
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
    <li><a href="">Другой город</a></li>
  </ul><a href="" data-hidden="Показать все города" data-show="Скрыть" class="js--change-list change-list">Показать все города</a>
</div>
<script type="text/javascript">$(function(){$('.inp-phone').mask('+7(999)999-99-99');});</script>
<script type="text/javascript">$(function () {$('.fancy').fancybox()});</script>
