source/jade/html/pages/pagePopup/popup-opinion.jade
.popup--opinion
    h2 Оставить отзыв

    form(action="../../../js/ajax/send-ok.php" method="post").main-form.form-opinion
        input(type="hidden" name="id_user" value="user_01")
        input(type="hidden" name="id_man" value="man_01")

        .rating-wrap
            span.title Просим оценить работу до 1 до 5

            label
                .rating
                    input(type="hidden" name="rating_01")
                span Общение

            label
                .rating
                    input(type="hidden" name="rating_02")
                span Соблюдение сроков

            label
                .rating
                    input(type="hidden" name="rating_03")
                span Качество сборки

            label
                .rating
                    input(type="hidden" name="rating_04")
                span Порекомендуете ли другим

            label
                .rating
                    input(type="hidden" name="rating_05")
                span Цена/качество

        textarea(name="opinion" placeholder="Ваш отзыв").inp.required

        .radio--wrap
            span.title Если стоимость или срок проекта изменились, укажите, пожалуйста, окончательные данные (информация о цене не будет отображена публично)

            label
                input(type="radio" name="price_change" value="02" checked).hidden-block
                .psevdoradio
                span Осталась такой же

            label.js--change-project
                input(type="radio" name="price_change" value="01").hidden-block
                .psevdoradio
                span Изменилась

        .change-project.hidden-block
            label
                span.title Окончательная цена
                input(type="text" name="total_price").inp

            label
                span.title Окончательный срок
                input(type="text" name="total_time").inp


        a(href="").js-form-submit.btn.btn_l Отправить


        a(href="../pagePopup/popup-opinion-ok.html" class="fancybox.ajax").fancy.js--form-ok

script(type="text/javascript" ) $(function () {if($('.rating').length){$('.rating').each(function(){var block = $(this);block.rating('create',{coloron:'#ffd200',coloroff: "#d7d7d7"});});};});
script(type="text/javascript" ) $(function () {$('.fancy').fancybox()});

html/pages/pagePopup/popup-opinion.html

<div class="popup--opinion">
  <h2>Оставить отзыв</h2>
  <form action="../../../js/ajax/send-ok.php" method="post" class="main-form form-opinion">
    <input type="hidden" name="id_user" value="user_01"/>
    <input type="hidden" name="id_man" value="man_01"/>
    <div class="rating-wrap"><span class="title">Просим оценить работу до 1 до 5</span>
      <label>
        <div class="rating">
          <input type="hidden" name="rating_01"/>
        </div><span>Общение</span>
      </label>
      <label>
        <div class="rating">
          <input type="hidden" name="rating_02"/>
        </div><span>Соблюдение сроков</span>
      </label>
      <label>
        <div class="rating">
          <input type="hidden" name="rating_03"/>
        </div><span>Качество сборки</span>
      </label>
      <label>
        <div class="rating">
          <input type="hidden" name="rating_04"/>
        </div><span>Порекомендуете ли другим</span>
      </label>
      <label>
        <div class="rating">
          <input type="hidden" name="rating_05"/>
        </div><span>Цена/качество</span>
      </label>
    </div>
    <textarea name="opinion" placeholder="Ваш отзыв" class="inp required"></textarea>
    <div class="radio--wrap"><span class="title">Если стоимость или срок проекта изменились, укажите, пожалуйста, окончательные данные (информация о цене не будет отображена публично)</span>
      <label>
        <input type="radio" name="price_change" value="02" checked="checked" class="hidden-block"/>
        <div class="psevdoradio"></div><span>Осталась такой же</span>
      </label>
      <label class="js--change-project">
        <input type="radio" name="price_change" value="01" class="hidden-block"/>
        <div class="psevdoradio"></div><span>Изменилась</span>
      </label>
    </div>
    <div class="change-project hidden-block">
      <label><span class="title">Окончательная цена</span>
        <input type="text" name="total_price" class="inp"/>
      </label>
      <label><span class="title">Окончательный срок</span>
        <input type="text" name="total_time" class="inp"/>
      </label>
    </div><a href="" class="js-form-submit btn btn_l">Отправить</a><a href="../pagePopup/popup-opinion-ok.html" class="fancybox.ajax fancy js--form-ok"></a>
  </form>
</div>
<script type="text/javascript">$(function () {if($('.rating').length){$('.rating').each(function(){var block = $(this);block.rating('create',{coloron:'#ffd200',coloroff: "#d7d7d7"});});};});</script>
<script type="text/javascript">$(function () {$('.fancy').fancybox()});</script>
