html/pages/pagePopup/popup-opinion-list.html

<div class="popup--opinion">
  <h2>Отзыв Мебель Экспромта</h2>
  <div class="man-rating">
    <div>
      <ul class="stars-list">
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul><span>Общение</span>
    </div>
    <div>
      <ul class="stars-list">
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul><span>Соблюдение сроков</span>
    </div>
    <div>
      <ul class="stars-list">
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul><span>Качество сборки</span>
    </div>
    <div>
      <ul class="stars-list">
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul><span>Порекомендуете ли</span>
    </div>
    <div>
      <ul class="stars-list">
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul><span>Цена/качество</span>
    </div>
  </div>
  <div class="user-opinion"><span class="title">Оценка Александра Пушкина</span>
    <p>Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.</p>
    <div class="user-opinion__params"><span class="roubl user-opinion__params-price">40 000</span>
      <div class="user-opinion__params-time"><span>Срок выполнения</span><span>1 день</span></div>
    </div>
  </div>
  <div class="user-opinion"><span class="title">Оценка Александра Пушкина</span>
    <p>Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.</p>
    <div class="user-opinion__params"><span class="roubl user-opinion__params-price">40 000</span>
      <div class="user-opinion__params-time"><span>Срок выполнения</span><span>1 день</span></div>
    </div>
  </div>
  <div class="user-opinion"><span class="title">Оценка Александра Пушкина</span>
    <p>Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.</p>
    <div class="user-opinion__params"><span class="roubl user-opinion__params-price">40 000</span>
      <div class="user-opinion__params-time"><span>Срок выполнения</span><span>1 день</span></div>
    </div>
  </div>
  <div class="user-opinion"><span class="title">Оценка Александра Пушкина</span>
    <p>Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.</p>
    <div class="user-opinion__params"><span class="roubl user-opinion__params-price">40 000</span>
      <div class="user-opinion__params-time"><span>Срок выполнения</span><span>1 день</span></div>
    </div>
  </div>
  <div class="text-center"><a href="" class="btn">Показать еще</a></div>
</div>

source/jade/html/pages/pagePopup/popup-opinion-list.jade
.popup--opinion
    h2 Отзыв Мебель Экспромта

    .man-rating
        div
            ul.stars-list
                li.active
                li.active
                li
                li
                li

            span Общение

        div
            ul.stars-list
                li.active
                li.active
                li
                li
                li

            span Соблюдение сроков

        div
            ul.stars-list
                li.active
                li.active
                li
                li
                li

            span Качество сборки

        div
            ul.stars-list
                li.active
                li.active
                li
                li
                li

            span Порекомендуете ли

        div
            ul.stars-list
                li.active
                li.active
                li
                li
                li

            span Цена/качество

    .user-opinion
        span.title Оценка Александра Пушкина

        p Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.

        .user-opinion__params
            span.roubl.user-opinion__params-price 40 000

            .user-opinion__params-time
                span Срок выполнения
                span 1 день

    .user-opinion
        span.title Оценка Александра Пушкина
        p Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.
        .user-opinion__params
            span.roubl.user-opinion__params-price 40 000
            .user-opinion__params-time
                span Срок выполнения
                span 1 день

    .user-opinion
        span.title Оценка Александра Пушкина
        p Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.
        .user-opinion__params
            span.roubl.user-opinion__params-price 40 000
            .user-opinion__params-time
                span Срок выполнения
                span 1 день

    .user-opinion
        span.title Оценка Александра Пушкина
        p Я в гребаном восторге от мебельщиков)) Халк Доволен, как говорятв голивуде. Моя душа поет. Просто ведро котят мне в сюртук. Да Коренина бы обомлела от такой кухни. ЛЯпота. Милота.
        .user-opinion__params
            span.roubl.user-opinion__params-price 40 000
            .user-opinion__params-time
                span Срок выполнения
                span 1 день

    .text-center
        a(href="").btn Показать еще
