html/pages/pagePopup/popup-opinion-ok.html

<div class="popup--opinion">
  <h2>Оставлен отзыв</h2>
  <div class="new-opinion">
    <div class="new-opinion--img"><img src="../../../img/img--author.jpg" alt="alt" /="/"/></div>
    <div class="new-opinion--content"><span class="author">Брюс Уиллис</span>
      <p>Достоинства: Цвет. Недостатки: Не видно. Комментарий:Мало информации на сайте. Нет подробных фоток и не указана комплектация.</p>
    </div>
  </div>
</div>

source/jade/html/pages/pagePopup/popup-opinion-ok.jade
.popup--opinion
    h2 Оставлен отзыв

    .new-opinion
        .new-opinion--img
            img(src="../../../img/img--author.jpg" alt /)
        .new-opinion--content
            span.author Брюс Уиллис
            p Достоинства: Цвет. Недостатки: Не видно. Комментарий:Мало информации на сайте. Нет подробных фоток и не указана комплектация.
