source/jade/html/pages/pagePopup/popup-code.jade
.popup--blue
    h2 Регистрация

    p Для того. чтобы закончить регистрациюнужно ввести код, который мы&nbsp;отправиливам на&nbsp;почту.

    form(action="" method="post").main-form
        label
            input(type="text" name="sms" placeholder="Код").inp.required
            a(href="../pagePopup/popup-fgv.html" class="fancybox.ajax").fancy.forgive-pass Забыли пароль
        a(href="").js-form-submit.btn.btn_l Вперед >

.hidden-block
    a(href="../pagePopup/popup-ok.html" class="fancybox.ajax").js--form-ok.fancy

html/pages/pagePopup/popup-code.html

<div class="popup--blue">
  <h2>Регистрация</h2>
  <p>Для того. чтобы закончить регистрациюнужно ввести код, который мы&nbsp;отправиливам на&nbsp;почту.</p>
  <form action="" method="post" class="main-form">
    <label>
      <input type="text" name="sms" placeholder="Код" class="inp required"/><a href="../pagePopup/popup-fgv.html" class="fancybox.ajax fancy forgive-pass">Забыли пароль</a>
    </label><a href="" class="js-form-submit btn btn_l">Вперед ></a>
  </form>
</div>
<div class="hidden-block"><a href="../pagePopup/popup-ok.html" class="fancybox.ajax js--form-ok fancy"></a></div>
