html/pages/pageLk/pageLk_man_info.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="" class="header__lk-message new-message"><img src="../../../img/icon--message-header.png" alt /></a><img src="../../../img/img--userpic.jpg" class="header__lk-userpick">
              <div class="content"><a href="" class="header__lk-name">Александр Пушкин</a><a href="" class="header__lk-orders">Мои заказы</a><a href="" class="header__lk-logout">Выйти</a></div>
            </div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="lk">
        <div class="width-wrap">
          <h1>Личный кабинет исполнителя</h1>
          <ul class="lk--links">
            <li class="active"><span>Информация о компании</span></li>
            <li><a href="">Реквизиты</a></li>
            <li><a href="">Оплата</a></li>
          </ul>
          <form action="" method="post" runat="server" class="lk--content justifyed main-form">
            <div class="lk--content__userpick"><span>Логотип компании</span>
              <div data-url="../../../js/ajax/load_img.php" class="lk--content__userpick-img js--img--container">
                <input type="file" name="userpic" class="input-file required"><a href="" class="lk--content__userpick--load js--img-load"></a><img src="" alt / class="js--img--container-img">
              </div>
            </div>
            <div class="two--third">
              <ul class="lk--content-list">
                <li><span>Название компании</span>
                  <input type="text" name="title" class="inp required">
                </li>
                <li><span>Телефон</span>
                  <input type="text" name="phone" class="inp inp-phone required">
                </li>
                <li><span>ФИО ответственного менеджера</span>
                  <input type="text" name="manager" class="inp required">
                </li>
                <li><span>Эл. почта</span>
                  <input type="text" name="mail" class="inp inp-mail required">
                </li>
                <li><span>Пароль</span>
                  <input type="text" name="password" class="inp required inp-pass">
                </li>
                <li><span>Подтверждение пароля</span>
                  <input type="text" name="password_repeat" class="inp required inp-pass-repeat">
                </li>
              </ul>
              <div class="lk--content-partition"><span>Разделы</span>
                <label class="checkbox">
                  <input type="checkbox" checked name="kitchen" class="hidden-block"><i class="psevdochecbox"></i><span>Кухни</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="kitchen" class="hidden-block"><i class="psevdochecbox"></i><span>Мебель для мультимедиа</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="kitchen" class="hidden-block"><i class="psevdochecbox"></i><span>Кухни</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="kitchen" class="hidden-block"><i class="psevdochecbox"></i><span>Мебель для мультимедиа</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="kitchen" class="hidden-block"><i class="psevdochecbox"></i><span>Кухни</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="kitchen" class="hidden-block"><i class="psevdochecbox"></i><span>Мебель для мультимедиа</span>
                </label>
              </div>
              <div class="lk--content-partition"><span>Способы оплаты</span>
                <label class="checkbox">
                  <input type="checkbox" checked name="carf" class="hidden-block"><i class="psevdochecbox"></i><span>Карты</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="cash" class="hidden-block"><i class="psevdochecbox"></i><span>Наличные</span>
                </label>
              </div>
              <div class="text-right"><a href="" class="btn btn_l js-form-submit">Сохранить</a></div>
            </div>
          </form>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/lk_man_info.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pagelk/pageLk_man_info.jade
block vars
    - var title='Title'

extends ../../partials/layout-login

block content

    .lk
        .width-wrap
            h1 Личный кабинет исполнителя

            ul.lk--links
                li.active
                    span Информация о компании
                li
                    a(href="") Реквизиты
                li
                    a(href="") Оплата

            form(action="" method="post" runat="server").lk--content.justifyed.main-form
                .lk--content__userpick
                    span Логотип компании
                    div(data-url="../../../js/ajax/load_img.php").lk--content__userpick-img.js--img--container
                        input(type="file" name="userpic").input-file.required
                        a(href="").lk--content__userpick--load.js--img-load
                        img(src="" alt /).js--img--container-img

                .two--third
                    ul.lk--content-list
                        li
                            span Название компании
                            input(type="text" name="title").inp.required

                        li
                            span Телефон
                            input(type="text" name="phone").inp.inp-phone.required

                        li
                            span ФИО ответственного менеджера
                            input(type="text" name="manager").inp.required

                        li
                            span Эл. почта
                            input(type="text" name="mail").inp.inp-mail.required

                        li
                            span Пароль
                            input(type="text" name="password").inp.required.inp-pass

                        li
                            span Подтверждение пароля
                            input(type="text" name="password_repeat").inp.required.inp-pass-repeat


                    .lk--content-partition
                        span Разделы

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Кухни

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Мебель для мультимедиа

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Кухни

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Мебель для мультимедиа

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Кухни

                        label.checkbox
                            input(type="checkbox" checked name="kitchen").hidden-block
                            i.psevdochecbox
                            span Мебель для мультимедиа

                    .lk--content-partition
                        span Способы оплаты

                        label.checkbox
                            input(type="checkbox" checked name="carf").hidden-block
                            i.psevdochecbox
                            span Карты

                        label.checkbox
                            input(type="checkbox" checked name="cash").hidden-block
                            i.psevdochecbox
                            span Наличные

                    .text-right
                        a(href="").btn.btn_l.js-form-submit Сохранить





    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_man_info.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});
