html/pages/pageLk/pageLk_user_deal.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="lk">
        <div class="width-wrap">
          <h1>Личный кабинет</h1>
          <ul class="lk--links">
            <li class="active"><span>Информация о пользователе</span></li>
            <li><a href="">Сделки</a></li>
          </ul>
          <div class="tabs">
            <ul class="tabs__caption">
              <li class="active">Активные проекты</li>
              <li>Исполнитель определен</li>
              <li>Архив</li>
            </ul>
            <div class="tabs__content active">
              <ul class="user-deal--list general-list">
                <li class="general-list__el"><a href="#" class="general-list__el-message"></a>
                  <div class="general-list__el--img square-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Кухня из броненосца</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax general-list__el__content__title-link fancy">Есть отзывы</a>
                      <ul class="stars--list-s">
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li></li>
                      </ul>
                    </div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li class="general-list__el"><a href="#" class="general-list__el-message"></a>
                  <div class="general-list__el--img square-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Кухня из броненосца</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax general-list__el__content__title-link fancy">Есть отзывы</a>
                      <ul class="stars--list-s">
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li></li>
                      </ul>
                    </div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a><a href="../pagePopup/popup-opinion.html" class="fancybox.ajax fancy">Оставить отзыв</a></div>
                  </div>
                </li>
                <li class="general-list__el"><a href="#" class="general-list__el-message"></a>
                  <div class="general-list__el--img square-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Кухня из броненосца</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax general-list__el__content__title-link fancy">Есть отзывы</a>
                      <ul class="stars--list-s">
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li></li>
                      </ul>
                    </div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a><a href="../pagePopup/popup-opinion.html" class="fancybox.ajax fancy">Оставить отзыв</a></div>
                  </div>
                </li>
                <li class="general-list__el"><a href="#" class="general-list__el-message"></a>
                  <div class="general-list__el--img square-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Кухня из броненосца</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax general-list__el__content__title-link fancy">Есть отзывы</a>
                      <ul class="stars--list-s">
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li></li>
                      </ul>
                    </div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a><a href="../pagePopup/popup-opinion.html" class="fancybox.ajax fancy">Оставить отзыв</a></div>
                  </div>
                </li>
                <li class="general-list__el"><a href="#" class="general-list__el-message"></a>
                  <div class="general-list__el--img square-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Кухня из броненосца</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax general-list__el__content__title-link fancy">Есть отзывы</a>
                      <ul class="stars--list-s">
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li></li>
                      </ul>
                    </div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a><a href="../pagePopup/popup-opinion.html" class="fancybox.ajax fancy">Оставить отзыв</a></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs__content">
              <ul class="user-deal--list general-list">
                <li class="general-list__el"><a href="#" class="general-list__el-message"></a>
                  <div class="general-list__el--img square-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Кухня из броненосца</a><a href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax general-list__el__content__title-link fancy">Есть отзывы</a>
                      <ul class="stars--list-s">
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li class="color"></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs__content"></div>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/lk_user_deal.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pagelk/pageLk_user_deal.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет

            ul.lk--links
                li.active
                    span Информация о пользователе
                li
                    a(href="") Сделки

            .tabs
                ul.tabs__caption
                    li.active Активные проекты
                    li Исполнитель определен
                    li Архив

                .tabs__content.active
                    ul.user-deal--list.general-list
                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта


                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта
                                    a(href="../pagePopup/popup-opinion.html" class="fancybox.ajax").fancy Оставить отзыв

                .tabs__content

                    ul.user-deal--list.general-list
                        li.general-list__el

                            a(href="#").general-list__el-message

                            .general-list__el--img.square-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Кухня из броненосца
                                    a(href="../pagePopup/popup-opinion-list.html" class="fancybox.ajax").general-list__el__content__title-link.fancy Есть отзывы
                                    ul.stars--list-s
                                        li.color
                                        li.color
                                        li.color
                                        li.color
                                        li
                .tabs__content



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_user_deal.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});
