source/jade/html/pages/pagelk/pageLk_man_pay.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет исполнителя

            ul.lk--links
                li
                    a(href="") Информация о компании
                li.active
                    span Реквизиты
                li
                    a(href="") Оплата

            .justifyed
                .li--history
                    span.title Последние списания/пополнение

                    form(action="../../../js/ajax/load_history.php" method="post").main-form.history-form
                        span Выборка по дате
                        label.data_from
                            span от
                            input(type="text" name="date_from").inp.required.inp-call

                        label.data_to
                            span до
                            input(type="text" name="date_to").inp.required.inp-call

                        a(href="").btn.btn_l.js-form-submit Применить

                    ul.history--list
                        li.justifyed
                            div
                                span.history--list-time 12 сентября 2015
                                span.history--list-status Выставлен счет
                                a.history--list-link Оплатить счет

                            span.history--list-price.roubl 2 250

                        li.justifyed.paid
                            div
                                span.history--list-time 12 сентября 2015
                                span.history--list-status Счет оплачен
                                a.history--list-link Скачать акт

                            span.history--list-price.roubl 2 250

                .li--card






    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_man_payment.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});

html/pages/pageLk/pageLk_man_pay.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="lk">
        <div class="width-wrap">
          <h1>Личный кабинет исполнителя</h1>
          <ul class="lk--links">
            <li><a href="">Информация о компании</a></li>
            <li class="active"><span>Реквизиты</span></li>
            <li><a href="">Оплата</a></li>
          </ul>
          <div class="justifyed">
            <div class="li--history"><span class="title">Последние списания/пополнение</span>
              <form action="../../../js/ajax/load_history.php" method="post" class="main-form history-form"><span>Выборка по дате</span>
                <label class="data_from"><span>от</span>
                  <input type="text" name="date_from" class="inp required inp-call">
                </label>
                <label class="data_to"><span>до</span>
                  <input type="text" name="date_to" class="inp required inp-call">
                </label><a href="" class="btn btn_l js-form-submit">Применить</a>
              </form>
              <ul class="history--list">
                <li class="justifyed">
                  <div><span class="history--list-time">12 сентября 2015</span><span class="history--list-status">Выставлен счет</span><a class="history--list-link">Оплатить счет</a></div><span class="history--list-price roubl">2 250</span>
                </li>
                <li class="justifyed paid">
                  <div><span class="history--list-time">12 сентября 2015</span><span class="history--list-status">Счет оплачен</span><a class="history--list-link">Скачать акт</a></div><span class="history--list-price roubl">2 250</span>
                </li>
              </ul>
            </div>
            <div class="li--card"></div>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/lk_man_payment.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
