source/jade/html/pages/pagelk/pageLk_man_req.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .lk
        .width-wrap
            h1 Личный кабинет исполнителя

            ul.lk--links
                li
                    a(href="") Информация о компании
                li.active
                    span Реквизиты
                li
                    a(href="") Оплата

            form(action="" method="post").lk--content.main-form.tabs
                .radio-wrap
                    span Выберите, кто вы:

                    ul.tabs__caption.js--requisite-disabled
                        li.active
                            label
                                input(type="radio" checked name="type" value="01")
                                .psevdoradio
                                span Юридическое лицо

                        li
                            label
                                input(type="radio" name="type" value="02")
                                .psevdoradio
                                span ИП

                        li
                            label
                                input(type="radio" name="type" value="03")
                                .psevdoradio
                                span Физическое лицо

                    .tabs__content.active
                        ul.lk--content-list
                            li
                                span Имя компании ООО
                                input(type="text" name="title").inp.required

                            li
                                span ИНН/КПП
                                input(type="text" name="inn").inp.required

                            li
                                span ФИО Директора
                                input(type="text" name="manager").inp.required

                            li
                                span ОГРН
                                input(type="text" name="manager").inp.required

                            li
                                span р/счет
                                input(type="text" name="manager").inp.required

                            li
                                span Почта
                                input(type="text" name="mail").inp.inp-mail.required

                            li
                                span Банк
                                input(type="text" name="manager").inp.required

                            li
                                span БИК
                                input(type="text" name="manager").inp.required

                            li
                                span ФИО бухгалтера
                                input(type="text" name="manager").inp.required

                            li
                                span Юр. адрес
                                textarea(type="text" name="manager").inp.required

                            li
                                span Факт. адрес
                                textarea(type="text" name="manager").inp.required

                            li
                                span Телефон
                                input(type="text" name="manager").inp.inp-phone.required

                            li
                                span Телефон бухгалтерии
                                input(type="text" name="manager").inp.inp-phone.required

                            li.two--third
                                span Данная страница защищена и доступна только корпорации Амбели. Никто и никогда к ней доступа не имеет. Информация нужна для счетов и возвратовденег.

                    .tabs__content
                        ul.lk--content-list
                            li
                                span ИНН/КПП
                                input(type="text" name="inn").inp.required

                            li
                                span ФИО ИП
                                input(type="text" name="manager").inp.required

                            li
                                span ОГРН
                                input(type="text" name="manager").inp.required

                            li
                                span р/счет
                                input(type="text" name="manager").inp.required

                            li
                                span Почта
                                input(type="text" name="mail").inp.inp-mail.required

                            li
                                span Банк
                                input(type="text" name="manager").inp.required

                            li
                                span БИК
                                input(type="text" name="manager").inp.required

                            li
                                span ФИО бухгалтера
                                input(type="text" name="manager").inp.required

                            li
                                span Адрес регистрации
                                textarea(type="text" name="manager").inp.required

                            li
                                span Адрес производства
                                textarea(type="text" name="manager").inp.required

                            li
                                span Телефон
                                input(type="text" name="manager").inp.inp-phone.required

                            li
                                span Телефон бухгалтерии
                                input(type="text" name="manager").inp.inp-phone.required

                            li.two--third
                                span Данная страница защищена и доступна только корпорации Амбели. Никто и никогда к ней доступа не имеет. Информация нужна для счетов и возвратовденег.

                    .tabs__content
                        ul.lk--content-list

                            li
                                span Номер паспорта
                                input(type="text" name="manager").inp.required

                            li
                                span Серия паспорта
                                input(type="text" name="manager").inp.required

                            li
                                span Когда выдан
                                input(type="text" name="manager").inp.required.inp-pasport-date

                            li
                                span Код подразделения
                                input(type="text" name="manager").inp.required.inp-pasport-code

                            li
                                span Кем выдан
                                textarea(type="text" name="manager").inp.required

                            li
                                span Код подразделения
                                textarea(type="text" name="manager").inp.required

                            li
                                span Скан первой страницы паспорта
                                input(type="file").required.js--file-styled

                            li
                                span Р/счет
                                input(type="text" name="manager").inp.required

                            li
                                span Банк
                                input(type="text" name="manager").inp.required

                            li
                                span Бик
                                input(type="text" name="manager").inp.required

                            li.two--half
                                label.js--check-agreement.check-agreement
                                    input(checked name="agreement" type="checkbox")
                                    .psevdochecbox
                                    span Согласен на обработку персональных данных

                .text-right
                    a(href="").btn.btn_l.js-form-submit Сохранить

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/lk_man_req.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});

html/pages/pageLk/pageLk_man_req.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="lk">
        <div class="width-wrap">
          <h1>Личный кабинет исполнителя</h1>
          <ul class="lk--links">
            <li><a href="">Информация о компании</a></li>
            <li class="active"><span>Реквизиты</span></li>
            <li><a href="">Оплата</a></li>
          </ul>
          <form action="" method="post" class="lk--content main-form tabs">
            <div class="radio-wrap"><span>Выберите, кто вы:</span>
              <ul class="tabs__caption js--requisite-disabled">
                <li class="active">
                  <label>
                    <input type="radio" checked name="type" value="01">
                    <div class="psevdoradio"></div><span>Юридическое лицо</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="type" value="02">
                    <div class="psevdoradio"></div><span>ИП</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="type" value="03">
                    <div class="psevdoradio"></div><span>Физическое лицо</span>
                  </label>
                </li>
              </ul>
              <div class="tabs__content active">
                <ul class="lk--content-list">
                  <li><span>Имя компании ООО</span>
                    <input type="text" name="title" class="inp required">
                  </li>
                  <li><span>ИНН/КПП</span>
                    <input type="text" name="inn" class="inp required">
                  </li>
                  <li><span>ФИО Директора</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>ОГРН</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>р/счет</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Почта</span>
                    <input type="text" name="mail" class="inp inp-mail required">
                  </li>
                  <li><span>Банк</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>БИК</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>ФИО бухгалтера</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Юр. адрес</span>
                    <textarea type="text" name="manager" class="inp required"></textarea>
                  </li>
                  <li><span>Факт. адрес</span>
                    <textarea type="text" name="manager" class="inp required"></textarea>
                  </li>
                  <li><span>Телефон</span>
                    <input type="text" name="manager" class="inp inp-phone required">
                  </li>
                  <li><span>Телефон бухгалтерии</span>
                    <input type="text" name="manager" class="inp inp-phone required">
                  </li>
                  <li class="two--third"><span>Данная страница защищена и доступна только корпорации Амбели. Никто и никогда к ней доступа не имеет. Информация нужна для счетов и возвратовденег.</span></li>
                </ul>
              </div>
              <div class="tabs__content">
                <ul class="lk--content-list">
                  <li><span>ИНН/КПП</span>
                    <input type="text" name="inn" class="inp required">
                  </li>
                  <li><span>ФИО ИП</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>ОГРН</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>р/счет</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Почта</span>
                    <input type="text" name="mail" class="inp inp-mail required">
                  </li>
                  <li><span>Банк</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>БИК</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>ФИО бухгалтера</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Адрес регистрации</span>
                    <textarea type="text" name="manager" class="inp required"></textarea>
                  </li>
                  <li><span>Адрес производства</span>
                    <textarea type="text" name="manager" class="inp required"></textarea>
                  </li>
                  <li><span>Телефон</span>
                    <input type="text" name="manager" class="inp inp-phone required">
                  </li>
                  <li><span>Телефон бухгалтерии</span>
                    <input type="text" name="manager" class="inp inp-phone required">
                  </li>
                  <li class="two--third"><span>Данная страница защищена и доступна только корпорации Амбели. Никто и никогда к ней доступа не имеет. Информация нужна для счетов и возвратовденег.</span></li>
                </ul>
              </div>
              <div class="tabs__content">
                <ul class="lk--content-list">
                  <li><span>Номер паспорта</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Серия паспорта</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Когда выдан</span>
                    <input type="text" name="manager" class="inp required inp-pasport-date">
                  </li>
                  <li><span>Код подразделения</span>
                    <input type="text" name="manager" class="inp required inp-pasport-code">
                  </li>
                  <li><span>Кем выдан</span>
                    <textarea type="text" name="manager" class="inp required"></textarea>
                  </li>
                  <li><span>Код подразделения</span>
                    <textarea type="text" name="manager" class="inp required"></textarea>
                  </li>
                  <li><span>Скан первой страницы паспорта</span>
                    <input type="file" class="required js--file-styled">
                  </li>
                  <li><span>Р/счет</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Банк</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li><span>Бик</span>
                    <input type="text" name="manager" class="inp required">
                  </li>
                  <li class="two--half">
                    <label class="js--check-agreement check-agreement">
                      <input checked name="agreement" type="checkbox">
                      <div class="psevdochecbox"></div><span>Согласен на обработку персональных данных</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-right"><a href="" class="btn btn_l js-form-submit">Сохранить</a></div>
          </form>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/lk_man_req.jpg",opacity: 0.5,top: 27,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
