source/jade/html/pages/pagelk/pageLk_message.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .message
        .width-wrap
            ul.breadcrumbs
                li
                    a(href="") Главная

                li
                    a(href="") Личный кабинет

                li
                    span Мои сообщения

            h1 Мои сообщения

            .justifyed
                .pagination-wrap
                    ul(data-url="../../../js/ajax/load_history.php" data-list-length="4").chat--list.general-list
                        li(data-user="man_01").general-list__el.active


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                        li(data-user="man_01").general-list__el


                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p Хочу кухню для Нины Родионовны.

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Открыта

                        li(data-user="man_02").general-list__el

                            span.general-list__el-message

                            .general-list__el--img.round-img
                                    img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    a(href="").general-list__el__content__title-name Пушкин Александр
                                    a(href="").general-list__el__content__title-link Кухня для няни

                                p У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами

                                .general-list__el__content__btns
                                    span.roubl.btn_s.btn.btn_c_blue-l 40 000
                                    a(href="").btn_s.btn.btn_c_blue Выбран исполнителем

                    ul.chat--pagination

                .chat
                    h2 Диалог с Александр Пушкин

                    ul.message-list.general-list
                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                        li.general-list__el
                            .general-list__el--img.round-img
                                img(src="../../../img/img--man.jpg" alt /)

                            .general-list__el__content
                                .general-list__el__content__title
                                    span.general-list__el__content__title-name Мебель экспромт

                                p Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?

                                ul.general-list__el__content-img
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)
                                    li
                                        a(href="../../../img/img--croco.jpg" rel="group_1").fancy
                                            img(src="../../../img/img--croco.jpg" alt /)


                    form(action="../../../js/ajax/load_history.php" method="post").main-form.form-message
                        input(type="text" name="user" value="man_01").hidden-block
                        textarea(name="message" placeholder="Написать сообщение").inp

                        .file-wrap
                            ul.project__about-images
                            div(data-url="../../../js/ajax/load_img.php").add-img.js--img--container.add-img
                                <!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                                input(type="file" name="file[]").input-file
                                a(href="").js--img-load

                        a(href="").btn.btn_l.js-form-submit Отправить



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/message.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});

html/pages/pageLk/pageLk_message.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <nav>
        <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo.svg" alt /></a>
          <ul class="main--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="message">
        <div class="width-wrap">
          <ul class="breadcrumbs">
            <li><a href="">Главная</a></li>
            <li><a href="">Личный кабинет</a></li>
            <li><span>Мои сообщения</span></li>
          </ul>
          <h1>Мои сообщения</h1>
          <div class="justifyed">
            <div class="pagination-wrap">
              <ul data-url="../../../js/ajax/load_history.php" data-list-length="4" class="chat--list general-list">
                <li data-user="man_01" class="general-list__el active">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>Хочу кухню для Нины Родионовны.</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li data-user="man_02" class="general-list__el"><span class="general-list__el-message"></span>
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Выбран исполнителем</a></div>
                  </div>
                </li>
                <li data-user="man_01" class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>Хочу кухню для Нины Родионовны.</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li data-user="man_02" class="general-list__el"><span class="general-list__el-message"></span>
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Выбран исполнителем</a></div>
                  </div>
                </li>
                <li data-user="man_01" class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>Хочу кухню для Нины Родионовны.</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li data-user="man_02" class="general-list__el"><span class="general-list__el-message"></span>
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Выбран исполнителем</a></div>
                  </div>
                </li>
                <li data-user="man_01" class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>Хочу кухню для Нины Родионовны.</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li data-user="man_02" class="general-list__el"><span class="general-list__el-message"></span>
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Выбран исполнителем</a></div>
                  </div>
                </li>
                <li data-user="man_01" class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>Хочу кухню для Нины Родионовны.</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li data-user="man_02" class="general-list__el"><span class="general-list__el-message"></span>
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Выбран исполнителем</a></div>
                  </div>
                </li>
                <li data-user="man_01" class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>Хочу кухню для Нины Родионовны.</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Открыта</a></div>
                  </div>
                </li>
                <li data-user="man_02" class="general-list__el"><span class="general-list__el-message"></span>
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><a href="" class="general-list__el__content__title-name">Пушкин Александр</a><a href="" class="general-list__el__content__title-link">Кухня для няни</a></div>
                    <p>У нас есть подобный проект, но не гусеница, а супер космический корабль, с юллюминаторами</p>
                    <div class="general-list__el__content__btns"><span class="roubl btn_s btn btn_c_blue-l">40 000</span><a href="" class="btn_s btn btn_c_blue">Выбран исполнителем</a></div>
                  </div>
                </li>
              </ul>
              <ul class="chat--pagination"></ul>
            </div>
            <div class="chat">
              <h2>Диалог с Александр Пушкин</h2>
              <ul class="message-list general-list">
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                  </div>
                </li>
                <li class="general-list__el">
                  <div class="general-list__el--img round-img"><img src="../../../img/img--man.jpg" alt /></div>
                  <div class="general-list__el__content">
                    <div class="general-list__el__content__title"><span class="general-list__el__content__title-name">Мебель экспромт</span></div>
                    <p>Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. Хочу крокодила. ххххочу крокодила. Ок?</p>
                    <ul class="general-list__el__content-img">
                      <li><a href="../../../img/img--croco.jpg" rel="group_1" class="fancy"><img src="../../../img/img--croco.jpg" alt /></a></li>
                      <li><a href="../../../img/img--croco.jpg" rel="group_1" class="fancy"><img src="../../../img/img--croco.jpg" alt /></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <form action="../../../js/ajax/load_history.php" method="post" class="main-form form-message">
                <input type="text" name="user" value="man_01" class="hidden-block">
                <textarea name="message" placeholder="Написать сообщение" class="inp"></textarea>
                <div class="file-wrap">
                  <ul class="project__about-images"></ul>
                  <div data-url="../../../js/ajax/load_img.php" class="add-img js--img--container add-img"><!-- name у инпута НЕ МЕНЯТЬ. Либо заменить в js в строке container.append('<input type="file" name="file[]" class="input-file">'); -->
                    <input type="file" name="file[]" class="input-file"><a href="" class="js--img-load"></a>
                  </div>
                </div><a href="" class="btn btn_l js-form-submit">Отправить</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/message.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
