html/pages/pageIndex/pageIndex.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header__left"><a href="../pagePopup/popup-town.html" class="fancybox.ajax fancy header-town">Санкт-петербург</a><a href="tel:88002000555" class="header--call">8 800 2000 555</a></div>
          <div class="header__right">
            <div class="header__search">
              <form action="" method="post" class="form--search">
                <input type="text" name="search" class="inp required"><img src="../../../img/svg/icon--search.svg" alt / class="search-icon js--form-send">
              </form>
            </div>
            <div class="header__lk"><a href="../pagePopup/popup-ent.html" class="fancybox.ajax btn btn_s fancy">Войти</a><span>или</span><a href="../pagePopup/popup-reg.html" class="fancybox.ajax lk--enter fancy">Зарегистрироваться</a></div>
          </div>
        </div>
      </header>
      <div id="index">
        <section class="promo">
          <div class="promo--content-wrap">
            <nav>
              <div class="width-wrap justifyed"><a href="" class="nav--logo"><img src="../../../img/svg/logo-white.svg" alt /></a>
                <ul class="main--nav">
                  <li><span>О проекте</span></li>
                  <li><a href="">Вопросы и ответы</a></li>
                  <li><a href="">Для производителей</a></li>
                  <li><a href="">Контакты</a></li>
                </ul>
              </div>
            </nav>
            <div class="width-wrap">
              <div class="promo--content"><span>Заказать мебель вашей мечты по лучшей цене. Это просто и&nbsp;бесплатно!</span>
                <p>Мы&nbsp;сэкономим вам время и&nbsp;легко найдем сотни луших предложений по&nbsp;созданию корпусной мебели. Быстро и без переплаты за&nbsp;посредников.</p>
              </div>
            </div>
          </div>
          <div class="center">
            <div class="video-layout"></div>
            <div class="video-wrap">
              <video poster="../../../img/poster.jpg" autoplay="autoplay" loop="loop" tabindex="50%">
                <source src="../../../files/video.mp4">
              </video>
            </div>
          </div>
        </section>
        <section class="best">
          <div class="width-wrap">
            <form action="" method="post" class="justifyed best--form"><span>Я хочу заказать</span>
              <select name="best_type" class="js--select-styled">
                <option selected value="best_type_01">Кухни</option>
                <option value="best_type_02">Прихожие</option>
                <option value="best_type_03">Шкафы</option>
              </select>
              <select name="best_town" class="js--select-styled">
                <option selected value="best_town_01">Санкт-Петербург</option>
                <option value="best_town_02">Москва</option>
                <option value="best_town_03">Пермь</option>
              </select><a href="" class="img"><img src="../../../img/svg/icon--scheme.svg" alt /></a><a href="" class="js--form-send btn btn_l">Получить лучшее предложение</a>
            </form>
          </div>
        </section>
        <section class="steps">
          <div class="width-wrap">
            <h1>Как это работает?</h1>
            <ul class="steps--list justifyed">
              <li><span class="steps--list-number">1</span><img src="../../../img/svg/icon--step-1.svg" alt /><span class="steps--list-title">Полюбовались сайтом? Отправляйте запрос на&nbsp;изготовление мебели!</span>
                <p>Это просто и&nbsp;бесплатно Есть подсказки на&nbsp;каждом шагу.</p>
              </li>
              <li><span class="steps--list-number">2</span><img src="../../../img/svg/icon--step-2.svg" alt /><span class="steps--list-title">Вы выбираете лучшее предложение.</span>
                <p>Вам приходят готовые предложения от проверенных производителей. Мы гарантируем лучшую цену</p>
              </li>
              <li><span class="steps--list-number">3</span><img src="../../../img/svg/icon--step-3.svg" alt /><span class="steps--list-title">Крутые парни исполняют ваш заказ.</span>
                <p>Вы оставляете отзыв, насколько они действительно круты!</p>
              </li>
            </ul><img src="../../../img/bg--steps.jpg" alt / class="stept--img">
            <div class="steps--total"><img src="../../../img/svg/img--dance.svg" alt /><span>Вы танцуете жигу дрыгу в новой кухне</span>
              <p>Вы&nbsp;покупаете напрямую у&nbsp;производителя. А&nbsp;это значитвы покупаете без наценок.</p>
            </div>
          </div>
        </section>
        <section class="index--economy">
          <div class="width-wrap"><span>Потратить меньше времени и&nbsp;выбрать лучшее предложение с&nbsp;Ambeli. А&nbsp;на&nbsp;сэкономленные средства купить кота)</span></div>
        </section>
        <section class="blog">
          <div class="width-wrap">
            <h1>Блог проекта</h1>
            <ul class="blog--list">
              <li class="one--half blog--list__el">
                <div class="blog--list__img"><img src="../../../img/img--blog.jpg" alt /></div>
                <div class="blog--list__content"><a href="" class="blog--list__content-title">Новый сотрубник Маша</a>
                  <p>Уважаемые коллеги! Рады сообщить, что на контактный адрес студии пришло рекомендательное письмо от компании Quality Communications, с которой в ноябре 2014 года мы начали работы в направлении оказания услуг технической поддержки</p>
                  <ul class="tags--list">
                    <li><a href="">Вакансии</a></li>
                  </ul>
                </div>
              </li>
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">Билборды в виде навесов, ловушекдля насекомых и домов</a>
                  <p>Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,</p>
                  <ul class="tags--list">
                    <li><a href="">Полезное</a></li>
                  </ul>
                </div>
              </li>
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">Билборды в виде навесов, ловушекдля насекомых и домов</a>
                  <p>Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,</p>
                  <ul class="tags--list">
                    <li><a href="">Полезное</a></li>
                  </ul>
                </div>
              </li>
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                  <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                  <ul class="tags--list">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Акции</a></li>
                  </ul>
                </div>
              </li>
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                  <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                  <ul class="tags--list">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Акции</a></li>
                  </ul>
                </div>
              </li>
              <li class="blog--list__el">
                <div class="blog--list__content"><a href="" class="blog--list__content-title">5 книг которые мы советуемпрочесть нашим клиентам</a>
                  <p>Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются</p>
                  <ul class="tags--list">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Акции</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="manufacturer">
          <div class="width-wrap">
            <h1>Для производителей</h1>
            <ul class="manufacturer--list justifyed">
              <li><img src="../../../img/svg/icon--man-1.svg" alt />
                <div class="content"><span>Вам больше не&nbsp;нужен шоурум и&nbsp;даже свой интернет-сайт!</span>
                  <p>Вам приходят сообщенияо заказах на&nbsp;почту. Вы&nbsp;их&nbsp;обрабатываете у&nbsp;себя в личном кабинете.</p>
                </div>
              </li>
              <li><img src="../../../img/svg/icon--man-2.svg" alt />
                <div class="content"><span>Мы&nbsp;занимаемся поиском, а Вы&nbsp;&mdash; производством!</span>
                  <p>Создавайте мебель, оптимизируйте расходы на&nbsp;материалы. Продажу мы возьмем на&nbsp;себя.</p>
                </div>
              </li>
              <li><img src="../../../img/svg/icon--man-3.svg" alt />
                <div class="content"><span>Нам доверяют. У&nbsp;нас делают на&nbsp;совесть.</span>
                  <p>Халтурщиков вычисляет комитет по качеству и&nbsp;&laquo;позорно&raquo; выгоняет с сервиса.</p>
                </div>
              </li>
              <li><img src="../../../img/svg/icon--man-4.svg" alt />
                <div class="content"><span>У&nbsp;нас все прозрачно.Все знают, кто сколькополучает</span>
                  <p>У&nbsp;нас нет серой кассы и&nbsp;мутныхскидок. Все как на&nbsp;Байкале.</p>
                </div>
              </li>
            </ul>
            <div class="manufacturer--text"><img src="../../../img/svg/icon--like.svg" alt /><span>Айда к нам, если ты классный производитель</span>
              <p>Айда к нам, если ты классный производитель</p><a href="" class="btn btn_l">Запартнёрится с нами</a>
            </div>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/main.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap justifyed">
          <div class="footer--copyright"><span>© 2015 AMBELI</span><a href="">Пользовательское соглашение</a></div>
          <ul class="footer--nav">
            <li><span>О проекте</span></li>
            <li><a href="">Вопросы и ответы</a></li>
            <li><a href="">Для производителей</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>

source/jade/html/pages/pageIndex/pageIndex.jade
block vars
    - var title='Title'

extends ../../partials/layout-index

block content

    div(id="index")
        section.promo
            nav
                .width-wrap.justifyed
                    a(href="").nav--logo
                        img(src="../../../img/svg/logo-white.svg" alt /)

                    ul.main--nav
                        li
                            span О проекте
                        li
                            a(href="") Вопросы и ответы
                        li
                            a(href="") Для производителей
                        li
                            a(href="") Контакты

            .width-wrap
                .promo--content
                    span Заказать мебель вашей мечты по лучшей цене. Это просто и&nbsp;бесплатно!
                    p Мы&nbsp;сэкономим вам время и&nbsp;легко найдем сотни луших предложений по&nbsp;созданию корпусной мебели. Быстро и без переплаты за&nbsp;посредников.

        section.best
            .width-wrap
                form(action="" method="post").justifyed.best--form
                    span Я хочу заказать
                    select(name="best_type").js--select-styled
                        option(selected value="best_type_01") Кухни
                        option(value="best_type_02") Прихожие
                        option(value="best_type_03") Шкафы

                    select(name="best_town").js--select-styled
                        option(selected value="best_town_01") Санкт-Петербург
                        option(value="best_town_02") Москва
                        option(value="best_town_03") Пермь

                    a(href="").img
                        img(src="../../../img/svg/icon--scheme.svg" alt /)

                    a(href="").js--form-send.btn.btn_l Получить лучшее предложение

        section.steps
            .width-wrap
                h1 Как это работает?
                ul.steps--list.justifyed
                    li
                        span.steps--list-number 1
                        img(src="../../../img/svg/icon--step-1.svg" alt /)
                        span.steps--list-title Полюбовались сайтом? Отправляйте запрос на&nbsp;изготовление мебели!
                        p Это просто и&nbsp;бесплатно Есть подсказки на&nbsp;каждом шагу.

                    li
                        span.steps--list-number 2
                        img(src="../../../img/svg/icon--step-2.svg" alt /)
                        span.steps--list-title Вы выбираете лучшее предложение.
                        p Вам приходят готовые предложения от проверенных производителей. Мы гарантируем лучшую цену

                    li
                        span.steps--list-number 3
                        img(src="../../../img/svg/icon--step-3.svg" alt /)
                        span.steps--list-title Крутые парни исполняют ваш заказ.
                        p Вы оставляете отзыв, насколько они действительно круты!

                img(src="../../../img/bg--steps.jpg" alt /).stept--img

                .steps--total
                    img(src="../../../img/svg/img--dance.svg" alt /)
                    span Вы танцуете жигу дрыгу в новой кухне
                    p Вы&nbsp;покупаете напрямую у&nbsp;производителя. А&nbsp;это значитвы покупаете без наценок.

        section.index--economy
            .width-wrap
                span Потратить меньше времени и&nbsp;выбрать лучшее предложение с&nbsp;Ambeli. А&nbsp;на&nbsp;сэкономленные средства купить кота)

        section.blog
            .width-wrap
                h1 Блог проекта
                ul.blog--list
                    li.one--half.blog--list__el
                        .blog--list__img
                            img(src="../../../img/img--blog.jpg" alt /)
                        .blog--list__content
                            a(href="").blog--list__content-title Новый сотрубник Маша
                            p Уважаемые коллеги! Рады сообщить, что на контактный адрес студии пришло рекомендательное письмо от компании Quality Communications, с которой в ноябре 2014 года мы начали работы в направлении оказания услуг технической поддержки
                            ul.tags--list
                                li
                                    a(href="") Вакансии

                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title Билборды в виде навесов, ловушекдля насекомых и домов
                            p Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,
                            ul.tags--list
                                li
                                    a(href="") Полезное

                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title Билборды в виде навесов, ловушекдля насекомых и домов
                            p Некоторые компании стараются использовать рекламные щиты нестандартным образом, наделяя их новым смыслом и функциями, — для привлечения внимания к продукту,
                            ul.tags--list
                                li
                                    a(href="") Полезное

                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                            p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                            ul.tags--list
                                li
                                    a(href="") О компании
                                li
                                    a(href="") Акции

                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                            p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                            ul.tags--list
                                li
                                    a(href="") О компании
                                li
                                    a(href="") Акции

                    li.blog--list__el
                        .blog--list__content
                            a(href="").blog--list__content-title 5 книг которые мы советуемпрочесть нашим клиентам
                            p Если менеджер не умеет выстроить доверительные отношения в коллективе вовсе не уделяет этому вопросу внимания, то сотрудники лишаются
                            ul.tags--list
                                li
                                    a(href="") О компании
                                li
                                    a(href="") Акции


        section.manufacturer
            .width-wrap
                h1 Для производителей

                ul.manufacturer--list.justifyed
                    li
                        img(src="../../../img/svg/icon--man-1.svg" alt /)
                        .content
                            span Вам больше не&nbsp;нужен шоурум и&nbsp;даже свой интернет-сайт!
                            p Вам приходят сообщенияо заказах на&nbsp;почту. Вы&nbsp;их&nbsp;обрабатываете у&nbsp;себя в личном кабинете.

                    li
                        img(src="../../../img/svg/icon--man-2.svg" alt /)
                        .content
                            span Мы&nbsp;занимаемся поиском, а Вы&nbsp;&mdash; производством!
                            p Создавайте мебель, оптимизируйте расходы на&nbsp;материалы. Продажу мы возьмем на&nbsp;себя.

                    li
                        img(src="../../../img/svg/icon--man-3.svg" alt /)
                        .content
                            span Нам доверяют. У&nbsp;нас делают на&nbsp;совесть.
                            p Халтурщиков вычисляет комитет по качеству и&nbsp;&laquo;позорно&raquo; выгоняет с сервиса.

                    li
                        img(src="../../../img/svg/icon--man-4.svg" alt /)
                        .content
                            span У&nbsp;нас все прозрачно.Все знают, кто сколькополучает
                            p У&nbsp;нас нет серой кассы и&nbsp;мутныхскидок. Все как на&nbsp;Байкале.

                .manufacturer--text
                    img(src="../../../img/svg/icon--like.svg" alt /)
                    span Айда к нам, если ты классный производитель
                    p Айда к нам, если ты классный производитель
                    a(href="").btn.btn_l Запартнёрится с нами

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/main.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
