html/index.html

<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>DEV</title>
    <!--choose theme http://www.bootstrapcdn.com/#bootswatch_tab-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css"/>
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Верстка по макетам</h1>
      </div>
      <div class="list-group">
        <div class="list-group-item active">Pages</div><a href="pages/pageIndex/pageIndex.html" class="list-group-item">
          <h4>page Index</h4></a><a href="pages/pageBlog/pageBlog_inner.html" class="list-group-item">
          <h4>page Blog_inner</h4></a><a href="pages/pageBlog/pageBlog.html" class="list-group-item">
          <h4>page Blog</h4></a><a href="pages/pageContact/pageContact.html" class="list-group-item">
          <h4>page Contact</h4></a><a href="pages/pageAbout/pageAbout.html" class="list-group-item">
          <h4>page About</h4></a><a href="pages/pageLk/pageLk_user.html" class="list-group-item">
          <h4>page Lk user info</h4></a><a href="pages/pageLk/pageLk_user_deal.html" class="list-group-item">
          <h4>page Lk user deal</h4></a><a href="pages/pageLk/pageLk_man_info.html" class="list-group-item">
          <h4>page Lk man info</h4></a><a href="pages/pageLk/pageLk_man_req.html" class="list-group-item">
          <h4>page Lk man requisites</h4></a><a href="pages/pageLk/pageLk_man_pay.html" class="list-group-item">
          <h4>page Lk man payment</h4></a><a href="pages/pageLk/pageLk_message.html" class="list-group-item">
          <h4>page Lk Message</h4></a><a href="pages/pageProject/pageProjectlist_user.html" class="list-group-item">
          <h4>page Projectlist user</h4></a><a href="pages/pageProject/pageProjectlist_man.html" class="list-group-item">
          <h4>page Projectlist man</h4></a><a href="pages/pageProject/pageProject_offers.html" class="list-group-item">
          <h4>page Project offers</h4></a><a href="pages/pageProject/pageProject_user.html" class="list-group-item">
          <h4>page Project user</h4></a><a href="pages/pageProject/pageProject_man.html" class="list-group-item">
          <h4>page Project man</h4></a><a href="pages/pageProject/pageProject_man_del_img.html" class="list-group-item">
          <h4>page Project man delete images</h4></a><a href="pages/pageConstructor/pageConstruct_cupboard.html" class="list-group-item">
          <h4>page Construct cupboard</h4></a><a href="pages/pageConstructor/pageConstruct_kitchen_s.html" class="list-group-item">
          <h4>page Kitchen small</h4></a><a href="pages/pageConstructor/pageConstruct_kitchen.html" class="list-group-item">
          <h4>page Kitchen</h4></a>
      </div>
    </div>
  </body>
</html>

source/jade/html/index.jade
block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages

            a.list-group-item(href="pages/pageIndex/pageIndex.html")
                h4 page Index

            a.list-group-item(href="pages/pageBlog/pageBlog_inner.html")
                h4 page Blog_inner

            a.list-group-item(href="pages/pageBlog/pageBlog.html")
                h4 page Blog

            a.list-group-item(href="pages/pageContact/pageContact.html")
                h4 page Contact

            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 page About

            a.list-group-item(href="pages/pageLk/pageLk_user.html")
                h4 page Lk user info

            a.list-group-item(href="pages/pageLk/pageLk_user_deal.html")
                h4 page Lk user deal

            a.list-group-item(href="pages/pageLk/pageLk_man_info.html")
                h4 page Lk man info

            a.list-group-item(href="pages/pageLk/pageLk_man_req.html")
                h4 page Lk man requisites

            a.list-group-item(href="pages/pageLk/pageLk_man_pay.html")
                h4 page Lk man payment

            a.list-group-item(href="pages/pageLk/pageLk_message.html")
                h4 page Lk Message

            a.list-group-item(href="pages/pageProject/pageProjectlist_user.html")
                h4 page Projectlist user

            a.list-group-item(href="pages/pageProject/pageProjectlist_man.html")
                h4 page Projectlist man

            a.list-group-item(href="pages/pageProject/pageProject_offers.html")
                h4 page Project offers

            a.list-group-item(href="pages/pageProject/pageProject_user.html")
                h4 page Project user

            a.list-group-item(href="pages/pageProject/pageProject_man.html")
                h4 page Project man

            a.list-group-item(href="pages/pageProject/pageProject_man_del_img.html")
                h4 page Project man delete images

            a.list-group-item(href="pages/pageConstructor/pageConstruct_cupboard.html")
                h4 page Construct cupboard

            a.list-group-item(href="pages/pageConstructor/pageConstruct_kitchen_s.html")
                h4 page Kitchen small

            a.list-group-item(href="pages/pageConstructor/pageConstruct_kitchen.html")
                h4 page Kitchen
